<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1>Work Experience &nbsp; <small><%= @student.name %></small></h1><br />
			</div>
			<div class="span8 offset2">
				<form method="post" class="form-horizontal">

					<div class="control-group">
						<label class="control-label" for="company">Company</label>
						<div class="controls">
							<input type="text" name="company" id="company" class="textfield span4" value="<%= @experience.company %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="city">City</label>
						<div class="controls">
							<input type="text" name="city" id="city" class="textfield span4" value="<%= @experience.city %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="state">State</label>
						<div class="controls">
							<input type="text" name="state" id="state" class="textfield span4" value="<%= @experience.state %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="position">Position</label>
						<div class="controls">
							<input type="text" name="position" id="position" class="textfield span4" value="<%= @experience.position %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="start">Employment start</label>
						<div class="controls">
							<input type="text" name="start" id="start" class="textfield span4" value="<%= @experience.start %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="end">Employment end</label>
						<div class="controls">
							<input type="text" name="end" id="end" class="textfield span4" value="<%= @experience.end %>" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/experience/experiences">Cancel</a> &nbsp; <% if @student.experiences.count > 0 %><a class="btn btn-small btn-warning" href="/student/resume/experience/<%= @experience.id %>/delete">Delete</a><% end %>
						</div>
					</div>					
				</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->