<div class="container-white">
	<div class="container">	
		<div class="row"> 
			<div class="span12">
				<h1 class="page-header">Awards &nbsp; <small><%= @student.name %></small></h1> 
			</div>
			<div class="span8 offset2">
				<p><a href="/student/resume/awards/new" class="btn btn-small btn-success pull-right">New</a>
				<a href="/student/resume/index" class="btn btn-small">Resume Tool</a></p>	
			
		
				<table class="table table-striped table-condensed table-hover">
					<tr>
						<th>Award</th>
						<th>Date</th>
						<th </th>
					</tr>
					<% @student.awards.each do |award| %>
					<tr>
						<td><%= award.award %></td>
						<td><%= award.award_date %></td>
						<td style="text-align: right;"><span class="under-link"><a href="/student/resume/awards/<%= award.id %>/edit">Edit</a></span> &nbsp; <span class="under-link"><a href="/student/resume/awards/<%= award.id %>/view">View</a></span></td>
					</tr>
					<% end %>
				</table>
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

