<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Cover Letter</h1>
			</div>
			<div class="span10 offset1">
				<p><a href="/student/resume/letters/letters-view" class="btn btn-small">Index</a> &nbsp; <a href="/student/resume/index" class="btn btn-small">Resume Tool</a><!-- <a class="btn btn-small btn-success pull-right" href="#">Download PDF</a> --></p>
				
				<hr />
					<p><small>You can also copy and paste contents into a Microsoft Word or similar document to edit and save.
					<span class="semi-bold ">Check grammar and spelling.</span></small></p>
					
				<div class="resume-content">
				<br />
				<p><%= format_day(DateTime.now) %></p>
				<br />
				<p><%= @letter.title %> <%= @letter.first %> <%= @letter.last %><br />
				<%= @letter.position %>, <%= @letter.company %><br />
				<%= @letter.address %><br />
				<%= @letter.city %>, <%= @letter.state %>  <%= @letter.zip %></p>
	
				<br />
				<p>Dear <%= @letter.title %> <%= @letter.last %>:</p>
	
				<p><%= @letter.opening %></p>
	
				<p><%= @letter.company %> enjoys a reputation as a great place to work and I would like to be a part of your team. My immediate goal is to work as <% @student.objectives.each do |objective| %><%= objective.goal %>. This position will help me to learn <%= objective.learn %> as I pursue my long-term goal of <%= objective.long_goal %><% end %>.</p>
	
				<p>My previous experience has helped me develop <% @student.skills.each do |skill| %><%= (skill.skill) %><% end %>. I have learned that "doing" is the best way of learning, so I would really appreciate the opportunity to continue improving my skills with your team.</p>
	
				<p>Because I am known to be <% @student.traits.each do |trait| %><%= trait.trait_1 %>, <%= trait.trait_2 %>, and <%= trait.trait_3 %><% end %>, I believe I would be an asset to <%= @letter.company %>. A resume of my qualifications is enclosed for your review. I look forward to arranging an interview to discuss the possibility of employment.</p>
	

				<p>Sincerely,</p>


				<br /><br /><br /><br />

				<p>Enclosure:</p>
				<br /><br /><br />
			</div>
			</div>	
		</div>
	</div>
</div>
