<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1>Cover Letter &nbsp; <small><%= @student.name %></small></h1><br />
				<p>The information below should be the person to whom you are addressing your Cover Letter.</p>
			</div>
			<div class="span7 offset2">
				<form method="post" class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="title" class="">Title:</label>
						<div class="controls">
							<input type="text" name="title" id="title" class="textfield span1" value="<%= @letter.title %>" />
							<span class="help-inline">(Mr., Mrs., Ms., Dr., Rev, etc.)</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="first">First Name</label>
						<div class="controls">
							<input type="text" name="first" id="first" class="textfield col-md-4" value="<%= @letter.first %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="last">Last Name</label>
						<div class="controls">
							<input type="text" name="last" id="last" class="textfield col-md-4" value="<%= @letter.last %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="position">Position</label>
						<div class="controls">
							<input type="text" name="position" id="position" class="textfield col-md-4" value="<%= @letter.position %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="company">Company</label>
						<div class="controls">
							<input type="text" name="company" id="company" class="textfield col-md-4" value="<%= @letter.company %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="address">Company Address</label>
						<div class="controls">
							<input type="text" name="address" id="address" class="textfield col-md-4" value="<%= @letter.address %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="city">Company City</label>
						<div class="controls">
							<input type="text" name="city" id="city" class="textfield col-md-4" value="<%= @letter.city %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="state">Company State</label>
						<div class="controls">
							<input type="text" name="state" id="state" class="textfield span1" value="<%= @letter.state %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="zip">Company Zip</label>
						<div class="controls">
							<input type="text" name="zip" id="zip" class="textfield span2" value="<%= @letter.zip %>" />
						</div>
					</div>
					
					<p><strong>Opening Sentence:</strong> If you have a good referral for the job you are seeking, you can type in the space provided to add an optional opening sentence. </p>

					<p><strong>Example:</strong> Dr. John Roe, a family friend, told me your company may soon be expanding your office staff. If this is a possibility, I would appreciate your consideration for a position.</p>
					
					<label for="opening">Opening Sentence</label>
					<textarea type="text" name="opening" id="opening" class="span7" rows="3" cols="50"><%= @letter.opening %></textarea>

					<br /><br />
					
					<p> &nbsp; <input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/letters/letters">Cancel</a> &nbsp; <% if @student.letters.count > 0 %><a class="btn btn-small btn-warning delete" href="/student/resume/letters/<%= @letter.id %>/delete">Delete</a><% end %>
					
				</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

