<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1>Cover Letter &nbsp; <small><%= @student.name %></small></h1><br />
			</div>
			<div class="col-md-8 offset2">
				
				<h5><%= @student.first_name %> <%= @student.middle_name %> <%= @student.last_name %></h5>
				<p><%= @student.address %><br />
				<%= @student.city %>, <%= @student.state %> <%= @student.zip %><br />
				<%= formatted_number(@student.phone) %><br />
				<%= @student.email %>
				</p>
				<br /><br />
				
				<p><strong><%= @letter.title %> <%= @letter.first %> <%= @letter.last %></strong><br /><%= @letter.position %></p>

				<p><strong><%= @letter.company %></strong><br />
				
				<%= @letter.address %><br />
				
				<%= @letter.city %> <%= @letter.state %> <%= @letter.zip %></p>
				
				<br />
								
				<!-- <label>Opening Sentence:</label>  --><%= @letter.opening %></p>
				
				<br /><br />
					
				<p><a class="btn btn-success btn-small" href="/student/resume/letters/<%= @letter.id %>/edit">Edit</a> &nbsp; <a class="btn btn-small" href="/student/resume/letters/letters">Index</a> &nbsp; <a class="btn btn-small" href="/student/resume/index">Resume Tool</a></p>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->
