<style>
	abbr {
		color: #7b1a18;
		text-decoration: underline;
	}
</style>	

	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/resume/index" class="btn btn-small pull-right" style="margin-top: 12px;">Resume Tool</a>
				<h1 class="page-header">Character Traits</h1>
			</div>
			<div class="col-md-8 offset-md-2">
				<% @student.traits.each do |trait| %>
				<p><strong>Trait 1:</strong>&nbsp;&nbsp;<%= trait.trait_1 %></p>
				<p><strong>Trait 2:</strong>&nbsp;&nbsp;<%= trait.trait_2 %></p>
				<p><strong>Trait 3:</strong>&nbsp;&nbsp;<%= trait.trait_3 %></p>
				
				<a href="/student/resume/traits/<%= trait.id %>/edit" class="btn btn-small">Edit</a>
				
				<br /><br />
				
				<% if trait.trait_1 == '' %>
				<p><strong>Usage example:</strong> Because I am known to be <abbr title="Trait 1">kind</abbr>, <abbr title="Trait 2">enthusiastic</abbr>, and <abbr title="Trait 3">hard-working</abbr>, I believe I would be an asset to your company.</p>
				<% else %>
				<p><strong>Usage:</strong> Because I am known to be<abbr title="Trait 1"> <%= trait.trait_1 %></abbr>, <abbr title="Trait 2"><%= trait.trait_2 %></abbr>, and <abbr title="Trait 3"><%= trait.trait_3 %></abbr>, I believe I would be an asset to your company.</p>
				<% end %>
				
				<% end %>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
