<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span4 offset3">
				<h1>Skills</h1>
		
				<form method="post">
					
					<p>
						<label for="skill">Skill</label>
						<input type="text" name="skill" id="skill" class="textfield span4" value="<%= @skill.skill %>" />
					</p>
					<p>
						<label for="applied_1">Applied 1</label>
						<input type="text" name="applied_1" id="applied_1" class="textfield span4" value="<%= @skill.applied_1 %>" />
					</p>
					<p>
						<label for="applied_2">Applied 2</label>
						<input type="text" name="applied_2" id="applied_2" class="textfield span4" value="<%= @skill.applied_2 %>" />
					</p>
					<p>
						<label for="applied_3">Applied 3</label>
						<input type="text" name="applied_3" id="applied_3" class="textfield span4" value="<%= @skill.applied_3 %>" />
					</p>
					<p>
						<label for="applied_4">Applied 4</label>
						<input type="text" name="applied_4" id="applied_4" class="textfield span4" value="<%= @skill.applied_4 %>" />
					</p>
					<p>
						<label for="id_user">id_user</label>
						<input type="text" name="id_user" id="id_user" class="textfield span4" value="<%= @skill.id_user %>" />
					</p>
					
					<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/skills">Cancel</a> &nbsp; <a class="btn btn-small btn-warning pull-right" href="/skills/<%= @skill.id %>/delete">Delete</a>
					
					</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->