<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span4 offset3">
				<h1>Contact</h1>
		
				<form method="post">
					
					<p>
						<label for="name">Name</label>
						<input type="text" name="name" id="name" class="textfield span4" value="<%= @contact.name %>" />
					</p>
					<p>
						<label for="address">Address</label>
						<input type="text" name="address" id="address" class="textfield span1" value="<%= @contact.address %>" />
					</p>
					<p>
						<label for="city">City</label>
						<input type="text" name="city" id="city" class="textfield span1" value="<%= @contact.city %>" />
					</p>
					<p>
						<label for="state">State</label>
						<input type="text" name="state" id="state" class="textfield span1" value="<%= @contact.state %>" />
					</p>
					<p>
						<label for="zip">Zip</label>
						<input type="text" name="zip" id="zip" class="textfield span1" value="<%= @contact.zip %>" />
					</p>
					<p>
						<label for="phone">Phone</label>
						<input type="text" name="phone" id="phone" class="textfield span1" value="<%= @contact.phone %>" />
					</p>
					<p>
						<label for="email">Email</label>
						<input type="text" name="email" id="email" class="textfield span1" value="<%= @contact.email %>" />
					</p>
					
					<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/contacts">Cancel</a> &nbsp; <a class="btn btn-small btn-warning pull-right" href="/contacts/<%= @contact.id %>/delete">Delete</a>
					
					</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

