<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span9 offset3">
				<h1 class="page-header">User Profile</h1>
			</div>
			<div class="span9 offset3">
		
				<form method="post">
					
					<p>
						<label for="email">Email</label>
						<input type="text" name="email" id="email" class="textfield span5" value="<%= @user.email %>" />
					</p>
					<p>
						<label for="password">Password</label>
						<input type="text" name="password" id="password" class="textfield span5" value="<%= @user.password %>" />
					</p>
					<p>
						<label for="name">Name</label>
						<input type="text" name="name" id="name" class="textfield span5" value="<%= @user.name %>" />
					</p>
					<p>
						<label for="address">Address</label>
						<input type="text" name="address" id="address" class="textfield span5" value="<%= @user.address %>" />
					</p>
					<p>
						<label for="city">City</label>
						<input type="text" name="city" id="city" class="textfield span5" value="<%= @user.city %>" />
					</p>
					<p>
						<label for="state">State</label>
						<input type="text" name="state" id="state" class="textfield span1" value="<%= @user.state %>" />
					</p>
					<p>
						<label for="zip">Zip</label>
						<input type="text" name="zip" id="zip" class="textfield span2" value="<%= @user.zip %>" />
					</p>
					<p>
						<label for="phone">Phone</label>
						<input type="text" name="phone" id="phone" class="textfield span5" value="<%= @user.phone %>" />
					</p>

					
					<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/users/<%= @user.id %>">Cancel</a> &nbsp; <a class="btn btn-small btn-warning" href="/users/<%= @user.id %>/delete">Delete</a>
					
				</form>
				
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

