<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span8">
				<h1>Education</h1>
		
				<p>id_user<br /><%= @education.id_user %></p>
				<p>attending<br /><%= @education.attending %></p>
				<p>graduate_on<br /><%= @education.graduate_on %></p>
				<p>plan_attend<br /><%= @education.plan_attend %></p>
				<p>completed<br /><%= @education.completed %></p>
				<p>completed_on<br /><%= @education.completed_on %></p>
				<p>graduated<br /><%= @education.graduated %></p>
				<p>graduation_date<br /><%= @education.graduation_date %></p>
				<p>study<br /><%= @education.study %></p>
				<p>grad_date_change<br /><%= @education.grad_date_change %></p>
				<p>completed_date_change<br /><%= @education.completed_date_change %></p>
				<p>graduation_date_change<br /><%= @education.graduation_date_change %></p>
				<p>degree<br /><%= @education.degree %></p>
					
				<a href="<%= @education.id %>/edit">Edit</a>
			</div>
			<div class="span3 offset1">
				<br /><br /><br /><br />

				<a href="/admin/admin" class="btn btn-success">Admin</a></p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->