<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="description" content="" />
  	<meta name="author" content="Career Training Concepts, Inc." />
  	<title>eCareerDirection</title>
   <link href="/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
	<link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/resume-style.css" />
	<link type="text/css" rel="stylesheet" href="/css/datetimepicker.css" />
	<link type="text/css" rel="stylesheet" href="/css/resume-content.css" />
	<link type="text/css" rel="stylesheet" href="/css/theme.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome-ie7.min.css" />
	<link type="text/css" rel="stylesheet" href="/css/buttons_altered.css" />
	
  	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
	<!-- <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script> -->
  	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="/js/gen_validatorv4.js"></script>
  	<script type="text/javascript" src="/js/application.js"></script>
	<script>
	$(function() {
		$( ".form_date" ).datepicker({
			format: "MM dd, yyyy",
			startView: 2,
			minView: 0,
			todayHighlight: true,
			autoclose: true,
			todayBtn: true
		});
	});
	</script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	
	<link rel="icon" href="/img/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicon-144.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon-152.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/favicon-120.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicon-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicon-72.png">
	<link rel="apple-touch-icon-precomposed" href="/img/favicon-57.png">
	<link rel="apple-touch-icon-precomposed" sizes="32x32" href="/img/favicon-32.png">

  </head>
    
  <body>
	  
	  
	  
  <nav class="navbar sticky-top navbar-expand-md navbar-dark" style="background-color: #000000;">
	  <div class="container">  
	    <a class="navbar-brand mb-2" href="/index"><img src="/img/eCareerDirection-logo-white.svg" width="220px"></a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
			 
	      <ul class="navbar-nav mr-auto ml-4">
	        <li class="nav-item dropdown px-1">
				  <a class="nav-link dropdown-toggle <%= active 'student/' %>" id="dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Student
				  </a>
				  <div class="dropdown-menu pic-border" aria-labelledby="dropdown1">
					  <a class="dropdown-item <%= active 'student/student' %>" href="/student/student">About <em>e</em>CD</a>
					  <% unless session[:student] %>
					  <a class="dropdown-item <%= active 'student/report' %>" href="/student/report"><i class="icon-user"> </i> &nbsp;Student Account</a>
					  <% else %>
					  <a class="dropdown-item <%= active 'student/reports' %>" href="/student/reports/report/report_profile"><i class="icon-user"> </i> &nbsp;Student Account</a>
					  <% end %>
					  <a class="dropdown-item <%= active 'student/feedback' %>" href="/student/feedback">Student Feedback</a>
					  <a class="dropdown-item <%= active 'student/resources' %>" href="/student/resources">Helpful Links</a>
	          </div>
	        </li>
	        <li class="nav-item dropdown px-1">
				  <a class="nav-link dropdown-toggle <%= active 'educator/' %>" id="dropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Educator</a>
				  <div class="dropdown-menu pic-border" aria-labelledby="dropdown2">
					  <a class="dropdown-item <%= active 'educator/index' %>" href="/educator/index"><em>e</em>CareerDirection</a>
					  <a class="dropdown-item <%= active 'educator/steps' %>" href="/educator/steps">Steps to Success</a>
					  <!-- <a class="dropdown-item <%= active 'educator/resume' %>" href="/educator/resume">Resume Tool</a> -->
					  <a class="dropdown-item <%= active 'educator/request' %>" href="/educator/request">Request <em>e</em>CD</a>
					  <a class="dropdown-item <%= active 'educator/feedback' %>" href="/educator/feedback">Educator Feedback</a>
					  <a class="dropdown-item <%= active 'educator/resources' %>" href="/educator/resources">Helpful Links</a>
	          </div>
	        </li>
	        <li class="nav-item dropdown px-1">
				  <a class="nav-link dropdown-toggle <%= active 'arng/' %>" id="dropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ARNG Rep</a>
				  <div class="dropdown-menu pic-border" aria-labelledby="dropdown3">
					  <a class="dropdown-item <%= active 'arng/arng' %>" href="/arng/arng"><em>e</em>CareerDirection</a>
					  <% if session[:recruiter] %>
					  <a class="dropdown-item <%= active 'arng/leads' %>" href="/arng/leads">Generate Leads</a>
					  <a class="dropdown-item <%= active 'arng/register' %>" href="/arng/register">Register Your School</a>
					  <a class="dropdown-item <%= active 'recruiters' %>" href="/recruiters/<%= session[:recruiter] %>/profile"><i class="icon-user"> </i> &nbsp;Recruiter Account</a>
					  <a class="dropdown-item <%= active 'arng/practices' %>" href="/arng/practices">Best Practices</a>
					  <a class="dropdown-item <%= active 'arng/downloads' %>" href="/arng/downloads">Downloads</a>
					  <a class="dropdown-item <%= active 'arng/faq' %>" href="/arng/faq">FAQ</a>
					  <a class="dropdown-item <%= active 'arng/feedback' %>" href="/arng/feedback">Recruiter Feedback</a>
					  <% end %>
				  </div>
			  </li>
			  <li class="nav-item px-1">
				  <a href="/contact_us" class="nav-link <%= active 'contact' %>">Contact Us</a>
			  </li>
	      </ul>
		
	    </div>
	 </div>
	</nav>
	
    <noscript>
 	 <div class="nojavascript">
 		 <strong>It appears you don't have JavaScript enabled.</strong></strong> This site makes heavy use of JavaScript. Enable JavaScript in your browser for full functionality.
 	 </div>
 	</noscript>
	  
	 
	<%= alert %>
	<%= yield %>

	
	<footer>
		<div class="container">
			<div class="row d-block d-md-none">
				<div class="col-12" style="line-height: 16px;">
					<p>1996 - <%= Time.now.strftime("%Y") %> Career Training Concepts Inc.<br />All rights reserved. &nbsp; <span class="under-link"><a href="/admin/signin" >&nbsp;Admin&nbsp;</a></span> 
						<br >
					<span style="color: #af4532;"><strong><%= session[:admin] %> / <%= session[:recruiter] %> / <%= session[:student] %></strong></span>
					</p>
				</div>
			</div>
			
			<div class="d-none d-sm-none d-md-block">
			<div class="row">
				<div class="col-3" style="text-align: left; margin-bottom: 14px;">
					<a href="/about" class="btn">About CTC</a>
				</div>
				<div class="col-6" style="line-height: 16px;">
					<p>&copy; 1996 - <%= Time.now.strftime("%Y") %> Career Training Concepts Inc.<br />All rights reserved. &nbsp; <span class="under-link"><a href="/admin/signin" >&nbsp;Admin&nbsp;</a></span> 
					<br /><br />
					<span style="color: #0432ff; font-size: 1.2em;"><strong><%= session[:admin] %> &bull; <%= session[:recruiter] %> &bull; <%= session[:student] %></strong></span>
					</p>
				</div>
				<div class="col-3" style="text-align: right;">
				 	<img src="/img/arng-no-ground.svg" width="60px" />
				</div>
			</div>
			</div>
		</div>
	</footer>
		
		<script type="text/javascript">
			$('.form_date').datetimepicker({
				minView: 4,
				format: "MM dd, yyyy",
				autoclose: true,
				todayBtn: true,
				todayHighlight: true,
				forceParse: true
		    });
			 
		 	$(function() {
				$(document).ready(function(){
			 		setTimeout(function(){
			 			$("div#alert").fadeOut("slow", function () {
			 			$("div#alert").remove();
			 	      });
			 		}, 5000);
			 	});
		   
			}).call(this);	

		</script>

  </body>
</html>

<script>
	 function goBack() {
	   window.history.back();
	 }
</script>
