<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span8">
				<h1>Reference</h1>
		
					<p>id_user<br /><%= @reference.id_user %></p>
					
					<p>name<br /><%= @reference.name %></p>
						
					<p>relationship<br /><%= @reference.relationship %></p>
							
					<p>address<br /><%= @reference.address %></p>

					<p>city<br /><%= @reference.city %></p>
					
					<p>state<br /><%= @reference.state %></p>
					
					<p>zip<br /><%= @reference.zip %></p>
					
					<p>phone<br /><%= @reference.phone %></p>
					
					<p>email<br /><%= @reference.email %></p>
					
				<a href="<%= @reference.id %>/edit">Edit</a>
			</div>
			<div class="span3 offset1">
				<br /><br /><br /><br />

				<a href="/admin/admin" class="btn btn-success">Admin</a></p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->