<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span8">
				<h1>Skills</h1>
		
				<p>Skill<br /><%= @skill.skill %></p>
				<p>applied_1<br /><%= @skill.applied_1 %></p>
				<p>applied_2<br /><%= @skill.applied_2 %></p>
				<p>applied_3<br /><%= @skill.applied_3 %></p>
				<p>applied_4<br /><%= @skill.applied_4 %></p>
				<p>id_user<br /><%= @skill.id_user %></p>
					
				<a href="<%= @skill.id %>/edit">Edit</a>
			</div>
			<div class="span3 offset1">
				<br /><br /><br /><br />

				<a href="/admin/admin" class="btn btn-success">Admin</a></p>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->