<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1>RRC</h1>
			</div>
			<div class="span12">
				<p><a href="/traits/new" class="btn btn-small btn-success pull-right">New</a>
				<a href="/admin/admin" class="btn btn-small">Admin</a></p>
				<table class="table table-striped table-condensed table-hover">
					<tr>
						<th> </th>
						<th>trait_1</th>
						<th>trait_2</th>
						<th>trait_3</th>
						<th>Opening sentence</th>
						<th style="text-align: center;">Edit</th>
					</tr>
					<% @traits.each do |trait| %>
					<tr>
						<td><%= trait.trait_1 %></td>
						<td><%= trait.trait_2 %></td>
						<td><%= trait.trait_3 %></td>
						<td><%= trait.opening_sentence %></td>
						<td style="text-align: center;"><a href="traits/<%= trait.id %>/edit"> &nbsp; <i class="icon-pencil"></i> &nbsp; </a></td>
					</tr>
					<% end %>
				</table>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->