	
	<div class="container">

   </div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Careers and Occupations Guide School Registration</h1>
			
				
				<h5>Register your school to get a password.</h5>
				<p>&nbsp;</p>
				
			</div>
			<div class="span6">
					
				<form method="post" class="school form-horizontal">
				
				<p class="hidden">
				  <label class="checkbox">
				    <input type="checkbox" name="cd" id="cd" checked <%= 'checked="checked"' if @school.cd  %> />
				  </label>
				</p>
				
				<div class="control-group">
					<label class="control-label" for="first_name">First name</label>
					<div class="controls">
						<input type="text" class="textfield span4" name="first_name" id="first_name" value="<%= @school.first_name %>" /> 
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="middle_initial">Initial</label>
					<div class="controls">
						<input type="text" class="textfield span1" name="middle_initial" id="middle_initial" value="<%= @school.middle_initial %>" /> 
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="last_name">Last name</label>
					<div class="controls">
						<input type="text" class="textfield span4" name="last_name" id="last_name" value="<%= @school.last_name %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="school_name">School name</label>
					<div class="controls">
						<input type="text" class="textfield span4" name="school_name" id="school_name" value="<%= @school.school_name %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="school_address1">School Address</label>
					<div class="controls">
						<input type="text" class="textfield span4" name="school_address1" id="school_address1" value="<%= @school.school_address1 %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="school_address2"> </label>
					<div class="controls">
						<input type="text" class="textfield span4" name="school_address2" id="school_address2" value="<%= @school.school_address2 %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="school_city">City</label>
					<div class="controls">
						<input type="text" class="textfield span4" name="school_city" id="school_city" value="<%= @school.school_city %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="school_state">State</label>
					<div class="controls">
						<input type="text" class="textfield span1" name="school_state" id="school_state" value="<%= @school.school_state %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="school_zip">Zip</label>
					<div class="controls">
						<input type="text" class="textfield span2" name="school_zip" id="school_zip" value="<%= @school.school_zip %>" /> 
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="ng_rep">National Guard Rep</label>
					<div class="controls">
						<input type="text" class="textfield span4" name="ng_rep" id="ng_rep" value="<%= @school.ng_rep %>" /> 
					</div>
				</div>
				
			</div>
			<div class="span6 form-horizontal">
				
				<div class="control-group">
					<label class="control-label" for="mail_address1">Mailing address</label>
					<div class="controls">
						<input type="text" class="textfield span4" name="mail_address1" id="mail_address1" value="<%= @school.mail_address1 %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="mail_address2"> </label>
					<div class="controls">
						<input type="text" class="textfield span4" name="mail_address2" id="mail_address2" value="<%= @school.mail_address2 %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="mail_city">City</label>
					<div class="controls">
						<input type="text" class="textfield span4" name="mail_city" id="mail_city" value="<%= @school.mail_city %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="mail_state">State</label>
					<div class="controls">
						<input type="text" class="textfield span1" name="mail_state" id="mail_state" value="<%= @school.mail_state %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="mail_zip">Zip</label>
					<div class="controls">
						<input type="text" class="textfield span2" name="mail_zip" id="mail_zip" value="<%= @school.mail_zip %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="phone">Phone</label>
					<div class="controls">
						<input type="text" class="textfield span3" name="phone" id="phone" value="<%= @school.phone %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="fax">Fax</label>
					<div class="controls">
						<input type="text" class="textfield span3" name="fax" id="fax" value="<%= @school.fax %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="email">Counselor/teacher email</label>
					<div class="controls">
						<input type="text" class="textfield span4" name="email" id="email" value="<%= @school.email %>" /> 
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="number_seniors">Number of students</label>
					<div class="controls">
						<input type="text" class="textfield span1" name="number_seniors" id="number_seniors" value="<%= @school.number_seniors %>" /> 
					</div>
				</div>
				<div class="control-group">
				    <div class="controls">
				      <label class="checkbox">
			    		  <input type="checkbox" name="cd_before" id="cd_before" <%= 'checked="checked"' if @school.cd_before  %> />
			    		 Used Career Direction Before?
			  	  		</label>
					</div>
				</div>
				
				<div class="control-group">
				    <div class="controls">
				      <label class="checkbox">
 				    	  <input type="checkbox" name="active" id="active" <%= 'checked="checked"' if @school.active  %> />
						  <strong>Active</strong> &nbsp;<small>(activates school and creates password)</small>
 				  		</label>
					</div>
				</div>
				<div class="control-group hidden">
					<label class="control-label" for="school_password">School Password</label>
					<div class="controls">
						<input type="text" class="textfield span3" name="school_password" id="school_password" value="<%= @school.school_password %>" /> 
					</div>
				</div>
				<div class="control-group">
				    <div class="controls">
						 <input class="btn btn-success" type="submit" value="Save" />&nbsp;&nbsp;&nbsp;<a href="/arng/schools/<%= @school.id %>/delete" class="delete btn btn-warning"><i class="icon-trash"></i></a>
					 </div>
				 </div>
			 	</form>
				
			</div>

		</div>
		
		</div>
	</div> <!-- /container -->
</div> <!-- /container-white -->
