	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Careers and Occupations Guide School Registration</h1>
				<h5>Register your school to get a password.</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
									
				<form method="post" id="register-school" class="school form-horizontal">
				
				<p style="display: none;">
				  <label class="checkbox">
				    <input type="checkbox" name="cd" id="cd" checked <%= 'checked="checked"' if @school.cd  %> />
				  </label>
				</p>
				
				<p style="font-size: 1.1em; margin: 1em 0 1.5em 0;"><strong>Educator’s Contact Information</strong></p>
				
				<div class="form-row">
					<div class="form-group col-md-5">
						<label for="first_name">Educator’s First name</label>
						<input type="text" class="form-control" name="first_name" id="first_name" value="<%= @school.first_name %>" /> 
					</div>
					<div class="form-group col-md-2">
						<label for="middle_initial">Initial</label>
						<input type="text" class="form-control" name="middle_initial" id="middle_initial" value="<%= @school.middle_initial %>" /> 
					</div>
					<div class="form-group col-md-5">
						<label for="last_name">Educator’s Last name</label>
						<input type="text" class="form-control" name="last_name" id="last_name" value="<%= @school.last_name %>" /> 
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-10">
						<label for="school_name">School name</label>
						<input type="text" class="form-control" name="school_name" id="school_name" value="<%= @school.school_name %>" /> 
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-10">
						<label for="school_address1">School Address</label>
						<input type="text" class="form-control" name="school_address1" id="school_address1" value="<%= @school.school_address1 %>" /> 
						<input type="text" class="form-control" name="school_address2" id="school_address2" value="<%= @school.school_address2 %>" /> 
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="school_city">City</label>
						<input type="text" class="form-control" name="school_city" id="school_city" value="<%= @school.school_city %>" /> 
					</div>
					<div class="form-group col-md-2">
						<label for="school_state">State</label>
						<select type="text"  class="form-control" id="school_state" name="school_state" value="<%= @school.school_state %>">
								<option value="None"></option>
							<% @state.sort{|a,b| a.abbr <=> b.abbr}.each do |state| %>
								<option value="<%= state.abbr %>" <%= 'selected' if state.abbr == @school.school_state %>><%= state.abbr %></option>
							<% end %>
						</select>
					</div>
				<% unless @school.active %>
					<div class="form-group col-md-4">
						<label for="school_zip">Zip</label>
						<input type="text" class="form-control" name="school_zip" id="school_zip" value="<%= @school.school_zip %>" />
					</div>
				<% else %>
					<div class="form-group col-md-4">
						<label for="school_zip">Zip</label>
						<input type="text" class="form-control" name="school_zip" id="school_zip" value="<%= @school.school_zip %>" />
					</div>
				<% end %>
				</div>
				<div class="form-row">
					<div class="control-group col-md-9">
						<label for="email">Counselor/teacher email</label>
						<input type="text" class="form-control" name="email" id="email" value="<%= @school.email %>" /> 
					</div>
					<div class="control-group col-md-3">
						<label for="number_seniors">Number students</label>
						<input type="text" class="form-control" name="number_seniors" id="number_seniors" value="<%= @school.number_seniors %>" /> 
					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				
				<p style="font-size: 1.1em; margin: 1em 0 1.5em 0;"><strong>ARNG Rep</strong></p>
				
				
				<div class="form-row">
					<div class="control-group">
						<label for="recruiter_id">Recruiter</label>
						<select type="text" id="recruiter_id" name="recruiter_id" class="form-control" value="<%= @school.recruiter_id %>">
								<option value="None"></option>
							<% @recruiter.each do |recruiter| %>
								<option value="<%= recruiter.id %>" <%= 'selected' if recruiter.id == @school.recruiter_id %>><%= recruiter.state %> - <%= recruiter.rank %> <%= recruiter.first_name %> <%= recruiter.last_name %> - <%= recruiter.id %></option>
							<% end %>
						</select>
					</div>
				</div>
				<br />
				<div class="form-row">
					<div class="control-group">		
						<label for="active"></label>
						<input type="checkbox" name="active" id="active" <%= 'checked="checked"' if @school.active  %> /> <span style="font-size: 17px; padding: 0 0 0 5px;"><strong>Active</strong></span>
						<br /><small>(activates school and creates password)</small>
					</div>
				</div>
				
				 <div class="well" style="text-align: center; border-top: 3px solid #1abd9c; border-bottom: 3px solid #1abd9c;">
				<% if @school.active == true %> 
					School Password
					<h6 style="color: #b5011c;"><%= @school.school_password %></h6>
				<% else %>
					<h5 class="muted">SCHOOL NOT ACTIVATED</h5>
				<% end %>	
				 </div>
 				<div class="control-group">
 				    <div class="controls" style="text-align: center;">
 						 <input class="btn btn-success" type="submit" value="Save" />&nbsp;&nbsp;&nbsp;<a href="/arng/schools/<%= @school.id %>/school" class="btn">Cancel</a>&nbsp;&nbsp;&nbsp;<a href="/arng/schools/<%= @school.id %>/delete" class="delete btn btn-warning"><i class="icon-trash"></i></a>
 					 </div>
 				 </div>
			 	</form>
			</div>
			
		</div>
		<!-- <%= session[:admin] %> / <%= session[:recruiter] %> // <%= @school.recruiter_id %> -->
	</div> <!-- /container -->

<!-- <script  type="text/javascript">
	var frmvalidator = new Validator("register-school");
	frmvalidator.addValidation("first_name","req","Please enter your First Name");
	frmvalidator.addValidation("last_name","req","Please enter your Last Name");
	frmvalidator.addValidation("school_name","req","Please enter your School Name");
	frmvalidator.addValidation("school_address1","req","Please enter your School Address");
	frmvalidator.addValidation("school_city","req","Please enter your School City");
	frmvalidator.addValidation("school_state","req","Please enter your School State");
	frmvalidator.addValidation("school_zip","req","Please enter your School Zip");
	frmvalidator.addValidation("ng_rep","req","Please enter your National Guard Rep");
	frmvalidator.addValidation("mail_address1","req","Please enter your mailing address");
	frmvalidator.addValidation("mail_city","req","Please enter your city");
	frmvalidator.addValidation("mail_state","req","Please enter your state");
	frmvalidator.addValidation("mail_zip","req","Please enter your zip");
	frmvalidator.addValidation("phone","req","Please enter your phone");
	rmvalidator.addValidation("phone","req","Please enter your phone");
</script> -->






	<!-- <div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-header">Careers and Occupations Guide School Registration</h1>
				<h5>Register your school to get a password.</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">

				<form method="post" id="register-school" class="school form-horizontal">

				<p style="display: hidden;">
				  <label class="checkbox">
				    <input type="checkbox" name="cd" id="cd" checked <%= 'checked="checked"' if @school.cd  %> />
				  </label>
				</p>

				<p style="font-size: 1.1em; margin: 1em 0 1.5em 0;"><strong>Educator’s Contact Information</strong></p>

				<div class="control-group">
					<label class="control-label" for="first_name">Educator’s First name</label>
					<div class="controls">
						<input type="text" class="textfield" name="first_name" id="first_name" value="<%= @school.first_name %>" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="middle_initial">Initial</label>
					<div class="controls">
						<input type="text" class="textfield span1" name="middle_initial" id="middle_initial" value="<%= @school.middle_initial %>" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="last_name">Educator’s Last name</label>
					<div class="controls">
						<input type="text" class="textfield col-md-4" name="last_name" id="last_name" value="<%= @school.last_name %>" />
					</div>
				</div>
				<br />
				<div class="control-group">
					<label class="control-label" for="school_name"><strong>School name</strong></label>
					<div class="controls">
						<input type="text" class="textfield col-md-4" name="school_name" id="school_name" value="<%= @school.school_name %>" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="school_address1">School Address</label>
					<div class="controls">
						<input type="text" class="textfield col-md-4" name="school_address1" id="school_address1" value="<%= @school.school_address1 %>" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="school_address2"> </label>
					<div class="controls">
						<input type="text" class="textfield col-md-4" name="school_address2" id="school_address2" value="<%= @school.school_address2 %>" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="school_city">City</label>
					<div class="controls">
						<input type="text" class="textfield col-md-4" name="school_city" id="school_city" value="<%= @school.school_city %>" />
					</div>
				</div>

				<div class="control-group">
					<label for="school_state" class="control-label">State</label>
					<div class="controls">
						<select type="text" id="school_state" name="school_state" style="width: 86px;" value="<%= @school.school_state %>">
								<option value=""></option>
							<% @state.sort{|a,b| a.abbr <=> b.abbr}.each do |state| %>
								<option value="<%= state.abbr %>" <%= 'selected' if state.abbr == @school.school_state %>><%= state.abbr %></option>
							<% end %>
						</select>&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="school_zip">Zip</label>
					<div class="controls">
						<input type="text" class="textfield span2" name="school_zip" id="school_zip" value="<%= @school.school_zip %>" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">Counselor/teacher email</label>
					<div class="controls">
						<input type="text" class="textfield col-md-4" name="email" id="email" value="<%= @school.email %>" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="number_seniors">Number of students</label>
					<div class="controls">
						<input type="text" class="textfield span1" name="number_seniors" id="number_seniors" value="<%= @school.number_seniors %>" />
					</div>
				</div>


			</div>
			<div class="col-md-6 form-horizontal">

				<p style="font-size: 1.1em; margin: 1em 0 1.5em 3em;"><strong>ARNG Rep</strong></p>

				<div class="control-group">
					<label class="control-label" for="school_password">Recruiter</label>
					<div class="controls">
						<% if @school.recruiter_id %>
						<p style="margin-top: 4px;"> <%= @school.recruiter.rank %> <%= @school.recruiter.first_name %> <%= @school.recruiter.middle_name %> <%= @school.recruiter.last_name %> - <%= @school.recruiter.state %> </p>
						<% end %>
					</div>
				</div>

				<div class="control-group hidden">
					<label class="control-label" for="school_password">School Password</label>
					<div class="controls">
						<input type="text" class="textfield span3" name="school_password" id="school_password" value="<%= @school.school_password %>" />
					</div>
				</div>

				<div class="control-group">
				    <div class="controls">
				      <label class="checkbox">
 				    	  <input type="checkbox" name="active" id="active" <%= 'checked="checked"' if @school.active  %> />
						  <span style="font-size: 17px;"><strong>Active</strong></span> &nbsp;<small>(activates school and creates password)</small>
 				  		</label>
					</div>
				</div>

				<div class="control-group">
					<label for="recruiter_id" class="control-label">Recruiter</label>
					<div class="controls">
						<select type="text" id="recruiter_id" name="recruiter_id" class="" value="<%= @school.recruiter_id %>">
								<option value="None"></option>
							<% @recruiter.each do |recruiter| %>
								<option value="<%= recruiter.id %>" <%= 'selected' if recruiter.id == @school.recruiter_id %>><%= recruiter.state %> - <%= recruiter.rank %> <%= recruiter.first_name %> <%= recruiter.last_name %> - <%= recruiter.id %></option>
							<% end %>
						</select>
					</div>
				</div>


				<div class="control-group">
				    <div class="controls">
						 <input class="btn btn-success" type="submit" value="Save" />&nbsp;&nbsp;&nbsp;<a href="/arng/schools/schools" class="btn">Cancel</a>&nbsp;&nbsp;&nbsp;<a href="/arng/schools/<%= @school.id %>/delete" class="delete btn btn-warning pull-right"><i class="icon-trash"></i></a>
					 </div>
				 </div>
				 <div class="well" style="margin: 4em; padding: 2em 0 1em 0; text-align: center;">
				<% if @school.active %>
					School Password
					<h6 style="color: #b5011c;"><%= @school.school_password %></h6>
				<% else %>
					<h5 class="muted">SCHOOL NOT ACTIVATED</h5>
				<% end %>
				 </div>
			 	</form>
			</div>

		</div> -->
		<!-- <%= session[:admin] %> / <%= session[:recruiter] %> // <%= @school.recruiter_id %>  --  <%= @school.id %> -->
	</div> <!-- /container -->



<!-- <script  type="text/javascript">
	var frmvalidator = new Validator("register-school");
	frmvalidator.addValidation("first_name","req","Please enter your First Name");
	frmvalidator.addValidation("last_name","req","Please enter your Last Name");
	frmvalidator.addValidation("school_name","req","Please enter your School Name");
	frmvalidator.addValidation("school_address1","req","Please enter your School Address");
	frmvalidator.addValidation("school_city","req","Please enter your School City");
	frmvalidator.addValidation("school_state","req","Please enter your School State");
	frmvalidator.addValidation("school_zip","req","Please enter your School Zip");
	frmvalidator.addValidation("ng_rep","req","Please enter your National Guard Rep");
	frmvalidator.addValidation("mail_address1","req","Please enter your mailing address");
	frmvalidator.addValidation("mail_city","req","Please enter your city");
	frmvalidator.addValidation("mail_state","req","Please enter your state");
	frmvalidator.addValidation("mail_zip","req","Please enter your zip");
	frmvalidator.addValidation("phone","req","Please enter your phone");
	rmvalidator.addValidation("phone","req","Please enter your phone");
</script> -->
