	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				
				<% if session[:recruiter] %>
					 <a href="/recruiters/<%= session[:recruiter] %>/profile" style="margin-top: 12px;" class="btn pull-right">Recruiter Profile</a>
				<% end %>
				
				
				<h1 class="page-header"><span class="logo-e">e</span>CareerDirection Class Reports</h1>
			</div>
			
			<div class=" col-md-5">
					<h5><%= @school.school_name %></h5>
					<p><%= @school.school_address1 %> <%= @school.school_address2 %>
						<br />
						<%= @school.school_city %>, <%= @school.school_state %> &nbsp;<%= @school.school_zip %>
					</p>
					<p>
						<strong>School Password:</strong> &nbsp; <%= @school.school_password %><br />

						<strong>Recruiter:</strong> &nbsp; <%= @school.recruiter.rank %> <%= @school.recruiter.first_name %> <%= @school.recruiter.middle_name %> <%= @school.recruiter.last_name %><br />
						<strong>Total students:</strong> &nbsp&nbsp<%= @school.students.count %></p>
			</div>		
			<div class=" col-md-7">
				
				
			</div>
		</div>
		<div class="row"> 
			<div class="col-md-12">	
				
				<br />
				<span style="color: #e31400;">This table currently displays all students at <strong><%= @school.school_name %></strong> with the <strong>school password</strong>. Report filters to come.</span>
				<table class="table table-striped table-condensed table-hover">
						<tr>
							<th>Name&nbsp;&nbsp;<small>creation date</small></th>
							<th>School Password</th>
							<th>Email</th>
						</tr>
					
						<% @school.students.sort_by(&:created_at).reverse.each do |student| %>
						
						<tr>
							<td>
								<strong><%= student.first_name %>  <%= student.last_name %></strong>&nbsp;&nbsp;<small><%= format_american_day(student.created_at) %></small>
							</td>
							<td>
								<%= student.school_password %>
							</td>
							<td> 
								<%= student.email %>
							</td>
						
						</tr>
						
						<% end %>
					</table>
				
			</div>
		</div>
		
	</div>

