	
	<div class="container">
		  
		<ul class="breadcrumb">
			 <li><a href="arng">Career Direction 2</a> <span class="divider"> </span> </li>
			 <li><a href="leads">Generate Leads</a> <span class="divider"> </span> </li>
			 <li class="active"><a href="register">Register Your School</a> <span class="divider"> </span> </li>
			 <li><a href="feedback">Recruiter Feedback</a> <span class="divider"> </span> </li>
			 <li><a href="apractices">Best Practices</a> <span class="divider"> </span> </li>
			 <li><a href="downloads">Downloads</a> <span class="divider"> </span> </li>
			 <li><a href="faq">FAQ</a> <span class="divider"> </span> </li>
		 </ul>
      </div>

<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Careers and Occupations Guide <br />Registered Schools</h1>
			</div>
			<div class="span8">
				
				<table class="table table-striped table-condensed table-hover">
					<tr>
						<th>School</th>
						<th>City</th>
						<th>State</th>
						<th>Zip</th>
						<th style="text-align: center;">Edit</th>
					</tr>
					<% @client.each do |client| %>
					<tr>
						<td><%= @client.school_name %></td>
						<td><%= @client.school_city %></td>
						<td><%= @client.school_state %></td>
						<td><%= @client.school_zip %></td>
						<td style="text-align: center;"><a href="arng/schools/<%= client.id %>/edit"> <i class="icon-pencil"></i> </a></td>
					</tr>
					<% end %>
				</table>
			</div>

			<div class="span4">
				 <p><img src="../img/" class="pic-border" /></p>
			</div>
		
		</div>
	</div> <!-- /container -->
</div> <!-- /container-white -->
