	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
		      <h1 class="page-header">Create New Account</h1>
			</div>
		</div>
		<form class="form-horizontal" method="post" id="student_report">
		<div class="form-row">
			<div class="form-group col-md-5 offset-md-3"> 
				<label for="school_password">School's Password</label>
				<input type="text" class="form-control" placeholder="" name="school_password" id="school_password" aria-describedby="schoolpasswordHelp" value="<%= params[:school_password] %>" />
					<small id="schoolpasswordHelp" class="form-text">This code will be furnished by the ARNG Rep.</small>
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-group col-md-5 offset-md-3"> 
				<label for="sub_code">Student Access Code&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" onclick="myFunction()"></label>
				<input type="password" class="form-control" placeholder="" name="sub_code" id="sub_code" value="<%= params[:sub_code] %>" />
				<label for="sub_code2" style="margin-top: 7px;">Please Type Access Code Again&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" onclick="ourFunction()"></label>
				<input type="password" class="form-control" placeholder="" name="sub_code2" id="sub_code2" aria-describedby="schoolpasswordHelp" value="<%= params[:sub_code2] %>" />
					<small id="schoolpasswordHelp" class="form-text">This code will be furnished by the ARNG Rep.</small>
					
			</div>
		</div>
		</p>
		
		<div class="form-row">
			<div class="form-group col-md-5 offset-md-3">
				<label for="email">Personal Email Address</label>
				<input type="text" class="form-control" placeholder="" name="email" id="email" aria-describedby="emailHelp" value="<%= params[:email] %>" />
					<small id="emailHelp" class="form-text">You will use your personal email to access your account.</small>
			</div>
			<div class="form-group col-md-5 offset-md-3">
				<label for="password">Personal Password</label>
				<input type="text" class="form-control" placeholder="" name="password" id="password" aria-describedby="passwordHelp" value="<%= params[:password] %>" />
					<small id="passwordHelp" class="form-text">This personal password will be used with your email to access your account.</small>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-5 offset-md-3">
				<label for="first_name">First Name</label>
				<input type="text" name="first_name" id="first_name" class="form-control" placeholder="" value="<%= @first_name %>" />
			</div>
			<div class="form-group col-md-5 offset-md-3">						
				<label for="middle_name">Middle Name</label>
				<input type="text" name="middle_name" id="middle_name" class="form-control" placeholder="" value="<%= @middle_name %>" />
			</div>
			<div class="form-group col-md-5 offset-md-3">
				<label for="last_name">Last Name</label>
				<input type="text" name="last_name" id="last_name" class="form-control" placeholder="" value="<%= @slast_name %>" />
			</div>
			
			<div class="form-group col-md-5 offset-md-3">			
				<label for="grade">Grade level</label>
				<select type="text" class="form-control" name="grade" id="grade" style="text-align: center;" >
					<option value="Select one">-- Select one --</option>
					<option <%= 'selected' if @grade == '9' %> value="9">9</option>
					<option <%= 'selected' if @grade == '10' %> value="10">10</option>
					<option <%= 'selected' if @grade == '11' %> value="11">11</option>
					<option <%= 'selected' if @grade == '12' %> value="12">12</option>
					<option <%= 'selected' if @grade == 'College' %> value="College">College</option>
				</select>
			</div>
			
			<div class="form-group col-md-5 offset-md-3">
				<label for="future1">Future Plans</label>
			</div>

			<div class="form-group col-md-5 offset-md-3">
				<label for="future1"> &nbsp; </label>
				<input type="checkbox" name="future1" id="future1" <%= 'checked="checked"' if @future1  %> /> <span> &nbsp; Enter technical college/trade school</span>
			</div>

			<div class="form-group col-md-5 offset-md-3">		
				<label for="future2"> &nbsp; </label>
				<input type="checkbox" name="future2" id="future2" <%= 'checked="checked"' if @future2  %> /> <span> &nbsp; Work full-time</span>
			</div>

			<div class="form-group col-md-5 offset-md-3">	
				<label for="future3"> &nbsp; </label>
				<input type="checkbox" name="future3" id="future1" <%= 'checked="checked"' if @future3  %> /> <span> &nbsp; Work part-time</span>
			</div>

			<div class="form-group col-md-5 offset-md-3">		
				<label for="future4"> &nbsp; </label>
				<input type="checkbox" name="future4" id="future4" <%= 'checked="checked"' if @future4  %> /> <span> &nbsp; Enter the military</span>
			</div>

			<div class="form-group col-md-5 offset-md-3">	
				<label for="future5"> &nbsp; </label>
				<input type="checkbox" name="future5" id="future5" <%= 'checked="checked"' if @future5  %> /> <span> &nbsp; Go to college</span>
			</div>

			<div class="form-group col-md-5 offset-md-3">		
				<label for="future6"> &nbsp; </label>
				<input type="checkbox" name="future6" id="future6" <%= 'checked="checked"' if @future6  %> /> <span> &nbsp; I have money to pay for education</span>
			</div>

			<div class="form-group col-md-5 offset-md-3">		
				<label for="future7"> &nbsp; </label>
				<input type="checkbox" name="future7" id="future7" <%= 'checked="checked"' if @future7  %> /> <span> &nbsp; Counting on parents for money for education</span>
			</div>

			<div class="form-group col-md-5 offset-md-3">		
				<label for="future8"> &nbsp; </label>
				<input type="checkbox" name="future8" id="future8" <%= 'checked="checked"' if @future8  %> /> <span> &nbsp; Considering sources of financial aid or scholarships</span>
			</div>
		
		
			<div class="form-group col-md-5 offset-md-3">
				<label for="account"></label>
				<button class="btn btn-primary" id="account" type="submit">Create Account</button>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="goBack()" class="btn">Cancel</a>
			</div>
		</div>
		
		
		
		</form>
	</div>


	
</div>

<script type="text/javascript">
function myFunction() {
  var x = document.getElementById("sub_code");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
<script type="text/javascript">
function ourFunction() {
  var x = document.getElementById("sub_code2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

<script type="text/javascript">
	EnableSubmit = function(val) {
		var submit = document.getElementById("account");
		if (val.checked == true) {
			submit.disabled = false;
		}
		else {
			submit.disabled = true;
		}
	}
</script>

<script>
	window.onload = function() {
		const sub_code = document.getElementById('sub_code');
		sub_code.onpaste = function(e) {
			e.preventDefault();
		}
		const sub_code2 = document.getElementById('sub_code2');
		sub_code2.onpaste = function(g) {
			g.preventDefault();
		}
	}
</script>

<script  type="text/javascript">
	var frmvalidator = new Validator("student_report");
	frmvalidator.addValidation("school_password","req","Please enter your School's Password");
	frmvalidator.addValidation("sub_code","req","Please enter your Student Access Code");
	frmvalidator.addValidation("email","req","Please enter your Personal Email");
	frmvalidator.addValidation("password","req","Please create a Personal Password");
	frmvalidator.addValidation("first_name","req","Please enter your First Name");
	frmvalidator.addValidation("last_name","req","Please enter your Last Name");
	
</script>


		