<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span8 offset2">
				<div class="sign-in" style="padding:24px 32px; margin: 48px 0;">
		      <form class="form-horizontal" method="post" id="resume_tool">
		        <h1 class="form-signin-heading">Create New Account</h1>
					<div class="control-group">
						<label class="control-label"for="school_password">School's Password</label>
						<div class="controls">
							<input type="text" class="textfield span4" placeholder="School's Password Required" name="school_password" id="school_password" value="<%= params[:school_password] %>" />
							<span class="help-block" style="line-height: 1.2em; margin: 5px 52px 6px 0;"><small>If you do not know your school's password, please contact your guidance counselor or teacher.</small></span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="email">Personal Email Address</label>
						<div class="controls">
							<input type="text" class="textfield span4" placeholder="Personal Email Address Required" name="email" id="email" value="<%= params[:email] %>" />
							<span class="help-block" style="line-height: 1.2em; margin: 5px 0 6px 0;"><small>You will use your personal email to access your account.</small></span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="password">Personal Password</label>
						<div class="controls">
							<input type="text" class="textfield span4" placeholder="Personal Password Required" name="password" id="password" value="<%= params[:password] %>" />
							<span class="help-block" style="line-height: 1.2em; margin: 5px 52px 6px 0;"><small>This personal password will be used with your email to access your account. Please remember it.</small></span>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label"for="first_name">First Name</label>
						<div class="controls">
							<input type="text" name="first_name" id="first_name" class="textfield span4" placeholder="Required" value="<%= @first_name %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="middle_name">Middle Name</label>
						<div class="controls">
							<input type="text" name="middle_name" id="middle_name" class="textfield span4" placeholder="Optional" value="<%= @middle_name %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="last_name">Last Name</label>
						<div class="controls">
							<input type="text" name="last_name" id="last_name" class="textfield span4" placeholder="Required" value="<%= @last_name %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="address">Address</label>
						<div class="controls">
							<input type="text" name="address" id="address" class="textfield span4" placeholder="Required" value="<%= @address %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="city">City</label>
						<div class="controls">
							<input type="text" name="city" id="city" class="textfield span4"  placeholder="Required"value="<%= @city %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="state">State</label>
						<div class="controls">
							<input type="text" name="state" id="state" class="textfield span2" placeholder="Required" value="<%= @state %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="zip">Zip</label>
						<div class="controls">
							<input type="text" name="zip" id="zip" class="textfield span2" placeholder="Required" value="<%= @zip %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="phone">Phone</label>
						<div class="controls">
							<input type="text" name="phone" id="phone" class="textfield span3" placeholder="Required" value="<%= @phone %>" />
						</div>
					</div>
					
					
					
					<div class="control-group">
						<label for="birth_date" class="control-label">Date of Birth</label>
						<div class="span3 input-append date">
							<%= date_to_field('birth_date', (@birth_date || Time.now)) %>
						</div>
					</div>
						
	  				<div class="control-group" style="margin-bottom: 1.6em;">
	  				    <div class="controls">
	  				      <label class="checkbox">
							  <input type="checkbox" value="account" onClick="EnableSubmit(this)" checked /> I am 13 or older
						  </label>
	  					</div>
	  				</div>
				  <div class="control-group">
					  <label class="control-label" for="account"></label>
					  <div class="controls">
						  <button class="btn btn-primary" id="account" type="submit">Create Account</button> <a href="/student/report" style="margin: 0 0 0 12px;" class="btn">Cancel</a>
					  </div>
				  </div>
		      </form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		EnableSubmit = function(val) {
		var submit = document.getElementById("account");
			if (val.checked == true) {
	        submit.disabled = false;
	    	}
			else {
	        submit.disabled = true;
		  	}
		}
	</script>
</div>

<script  type="text/javascript">
	var frmvalidator = new Validator("resume_tool");
	frmvalidator.addValidation("first_name","req","Please enter your First Name");
	frmvalidator.addValidation("last_name","req","Please enter your Last Name");
	frmvalidator.addValidation("address","req","Please enter your Address");
	frmvalidator.addValidation("city","req","Please enter your City");
	frmvalidator.addValidation("state","req","Please enter your State");
	frmvalidator.addValidation("zip","req","Please enter your Zip");
	frmvalidator.addValidation("phone","req","Please enter your phone");
</script>


		