	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
		      <h1 class="page-header">Create New Account</h1>
			</div>
		</div>
		<form class="form-horizontal" method="post" id="student_report">
		<div class="form-row">
			<div class="form-group col-md-6"> 
				<label for="school_password">School's Password</label>
				<input type="text" class="form-control" placeholder="" name="school_password" id="school_password" aria-describedby="schoolpasswordHelp" value="<%= params[:school_password] %>" />
					<small id="schoolpasswordHelp" class="form-text">This code will be furnished by the ARNG Rep.</small>
			</div>
		</div>
		
		
		<div class="form-row">
			<div class="form-group col-md-9"> 
				<label for="sub_code">Student Access Code</label>
				<input type="text" class="form-control" placeholder="" name="access_code" id="sub_code" value="<%= params[:sub_code] %>" />
				<label for="sub_code2" style="margin-top: 7px;">Please Type Access Code Again</label>
				<input type="text" class="form-control" placeholder="" name="access_code2" id="sub_code2" aria-describedby="schoolpasswordHelp" value="<%= params[:sub_code2] %>" />
					<small id="schoolpasswordHelp" class="form-text">This code will be furnished by the ARNG Rep.</small>
			</div>
		</div>
		</p>
		
		
		
		
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="email">Personal Email Address</label>
				<input type="text" class="form-control" placeholder="" name="email" id="email" aria-describedby="emailHelp" value="<%= params[:email] %>" />
					<small id="emailHelp" class="form-text">You will use your personal email to access your account.</small>
			</div>
			<div class="form-group col-md-6">
				<label for="password">Personal Password</label>
				<input type="text" class="form-control" placeholder="" name="password" id="password" aria-describedby="passwordHelp" value="<%= params[:password] %>" />
					<small id="passwordHelp" class="form-text">This personal password will be used with your email to access your account.</small>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="first_name">First Name</label>
				<input type="text" name="first_name" id="first_name" class="form-control" placeholder="" value="<%= @first_name %>" />
			</div>
			<div class="form-group col-md-4">						
				<label for="middle_name">Middle Name</label>
				<input type="text" name="middle_name" id="middle_name" class="form-control" placeholder="" value="<%= @middle_name %>" />
			</div>
			<div class="form-group col-md-4">
				<label for="last_name">Last Name</label>
				<input type="text" name="last_name" id="last_name" class="form-control" placeholder="" value="<%= @slast_name %>" />
			</div>
		</div>
			<div class="form-group col-md-6" style="text-align: right;">
				<label for="account"></label>
				<button class="btn btn-primary" id="account" type="submit">Create Account</button> <a href="/student/reports/report_profile" class="btn">Cancel</a>
			</div>
		</div>
		</form>
	</div>


	
</div>

<script type="text/javascript">
	EnableSubmit = function(val) {
		var submit = document.getElementById("account");
		if (val.checked == true) {
			submit.disabled = false;
		}
		else {
			submit.disabled = true;
		}
	}
</script>

<script>
	window.onload = function() {
		const sub_code = document.getElementById('sub_code');
		sub_code.onpaste = function(e) {
			e.preventDefault();
		}
		const sub_code2 = document.getElementById('sub_code2');
		sub_code2.onpaste = function(g) {
			g.preventDefault();
		}
	}
</script>

<script  type="text/javascript">
	var frmvalidator = new Validator("student_report");
	frmvalidator.addValidation("school_password","req","Please enter your School's Password");
	frmvalidator.addValidation("sub_code","req","Please enter your Student Access Code");
	frmvalidator.addValidation("email","req","Please enter your Personal Email");
	frmvalidator.addValidation("password","req","Please create a Personal Password");
	frmvalidator.addValidation("first_name","req","Please enter your First Name");
	frmvalidator.addValidation("last_name","req","Please enter your Last Name");
	
</script>


		