<!DOCTYPE html>
<html lang="en">
	<head>
	  	<meta charset="utf-8" />
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	  	<title>eCareerDirection</title>
		<link type="text/css" rel="stylesheet" href="/css/buttons_altered.css" />
			<style type="text/css">
			
			body	{
				margin: 0;
				padding: 0;
			}

			#container {
				margin-left: auto;
				margin-bottom: 18px;
				margin-right: auto;
				margin-top: 18px;
				font-family: 'helvetica', helvetica, sans-serif;
				display: block;
				padding: 0px;
				width: 940px;
				line-height: 21px;
				font-size: 14px;
			}
		
			hr	{
				border: none;
				border-bottom: 1px solid #cdcdcd;
				margin: 18px 0;
			}
			
			.divider	{
				border: none;
				border-bottom: 5px solid #b2b5bc;
			}
			
			p {
				margin: 0;
				padding: 6px 0 6px 0;
				text-align: left;
			}
		
			.lead	{
				font-weight: 300;
				font-size: 1.5em;
				line-height: 1.3em;
			}
		
			.small	{
				font-size: 0.8em;
			}
	
			table  {
				margin: 0px;
				padding: 0px;
			}
	
			tr	{
				margin: 0;
				padding: 0;
			}

			td {
				text-align: left;
				line-height: 16px;
				font-size: 14px;
				margin: 0;
				padding: 4px 9px;
			}
			
			table.side tr td	{
				text-align: center;
			}
							
			ul, ol	{
				margin: 0 0 12px 12px;
			}
			
			ul li, ol li	{
				margin: 0;
				padding: 0;
			}
			
			tr.main td	{
				line-height: 24px;
			}
			
			h1 	{
				font-weight: 400;
				font-size: 2.6em; 
			}
			
			.header1	{
				font-weight: 700;
				font-size: 1.7em;
				line-height: 1.2em;
				margin: 6px 0;
				text-align: center;
			}
			
			.header2	{
				font-weight: 700;
				font-size: 1.3em;
				line-height: 1.2em;
			}
			
			.header3	{
				font-weight: 600;
				font-size: 1.1em;
				line-height: 1.3em;
			}
			
			.semi-bold	{
				font-weight: 600;
			}

			a {
					color: #008ae2;
			}

			a:hover {
				text-decoration: none;
				color: #ff6c00;
			}
			
			.job_pic	{
				float: right;
				margin: 0 0 12px 12px;
			}
			
			a.button	{
				color: white;
				background-color: #0ea7d2;
				margin: 24px 0;
				padding: 4px 12px;
				text-decoration: none;
				font-weight: 700;
			}
			
			a.button:hover	{
				background-color: black;
			}

			</style>

		</head>

<body>
	<div id="container">
		<form id="fullreport">
			
			<p  style="float: right; margin-top:12px;"><a onclick="goBack()" class="btn">Back</a></p>
		
		<img src="/img/arng.svg" style="float: right; margin: 12px 24px;" width="70px">
		
		
		
		<span class="d-none d-sm-none d-md-block"><img src="/img/eCareerDirection-logo-black.svg" style="margin-top:42px;" width="240px"></span>
		
		
		
		<!-- <p style="margin-top: 24px;">
			<img src="/img/arng_4cp_cta_camo.png" width="82px" style="float: right;">
			<img src="/img/eCareerDirection-logo-black.svg" width="300px">
		</p> -->
		<hr />
		
		<p class="lead">Report for <%= @student.first_name %> <%= @student.last_name %></p>
		
		<h1>Careers and Occupations Guide</h1>
		<p><small>Support Manual for</small><br />
		<strong><span class="logo-e">e</span>CD</strong>, <strong><span class="logo-e">e</span>CareerDirection</strong> and <em><strong>FUTURE</strong>FOCUS</em>
		<br />
		<small>Version 6.0</small>
		<p><small>
		<span class="semi-bold">James C. Shafe</span>, President, Career Training Concepts, Inc.<BR>
		<span class="semi-bold">Gary L. Arthur, Ed.D.</span>, Professor, Counseling & Psychological Services, Georgia State University<BR>
		<span class="semi-bold">Matthew Morgan, A.B.J.</span>, Editor & Research Specialist, Career Training Concepts, Inc.<BR>
		<span class="semi-bold">Jeff Musumeche, MSHRM,</span> Program Management, Career Training Concepts<br />
		<span class="semi-bold">Edward M. Buckner, Ph.D.</span>, Educational Consultant, The Research Group, Inc.<BR>
		<span class="semi-bold">Amy Shaye, Ed.S.</span>, The Research Group, Inc.<BR>
		<span class="semi-bold">Jeff Porterfield, Ph.D.</span>, Associate Professor, Clark Atlanta University<BR>
		<span class="semi-bold">John Hutcheson Jr., Ph.D.</span>, The Research Group, Inc.<BR>
		<span class="semi-bold">Amy Smith, Ph.D.</span>, Educational Consultant, Career Training Concepts, Inc.<BR>
		</small></p>

		<p><strong>Career Training Concepts, Inc.</strong><br />
		<small>Toll Free: 888-326-9229 &nbsp; www.careertrain.com</small> <br />
		<small>© <%= Time.now.strftime("%Y") %> Career Training Concepts, Inc. All Rights Reserved.</small>
		</p>
		
		<hr />
		
		<p class="lead">Welcome to your <strong>Careers and Occupations Guide (COG)</strong> Report!</p>
		<p>This report combines career categories you find most interesting to help you:</p>
		<ul>
			<li> understand your unique personality,</li>
			<li> identify what occupations you might enjoy the most, and </li>
			<li> determine the education and training required to meet your career goals. </li> 
		</ul>

		<p>Your <B> <I> COG </B> </i> Report is based on your interests and 
		provides suggestions in the following areas:</p>
		<ul> 
			<li> high school courses</li>
			<li> extra-curricular and volunteer activities</li>
			<li> part-time jobs</li>
			<li> occupations detailed by people versus technical orientation and amount of education and training required </li>
			<li> occupations detailed by job description and income range</li>
		</ul>

		<p>Remember, you are just exploring right now. You can create other 
		<B> <I>COG </i> </b> reports using different career category 
		combinations too.</P>

		<p>You might want to share the information with your parents, your 
		teacher, or a friend. This information will help you make good 
		decisions as you plan for life in high school and beyond. </p>

		<p>Before you begin, it will help you to understand some words used 
		in this report.</p>

		<OL> 
			<li> <B>Technical, Trade, Vocational and Business Colleges</b> - in two years or less, these schools prepare you for job entry into specific trades, professions, or career fields. </li>
			<li> <B>Two-year Junior or Community Colleges</b> - these colleges award an Associate's Degree. You can take freshman and sophomore level classes at a Junior College and then transfer to a four-year institution. </li>
			<li> <B>Four-year College or University</b> - these are schools where you can earn a Bachelor's Degree and high level degrees such as a Master's or Ph.D.</li>
			<li> <B>Master's Degree</b> - awarded for completing a one or two year program of study beyond a Bachelor's degree.</li>
			<li> <B>Doctorate Degree (e.g., Ph.D., Ed.D., or M.D.)</b> - awarded for completing a program of study that is often lengthy and that requires some type of original research, as well as written and oral examinations. </li>
		</ol>

		<p>Are you ready to explore your future career possibilities? Let's get started!
		
		<hr />
		<center><a href="http://www.nationalguard.com/education" target="blank"><img src="/img/ads/EducationBenefits.gif" /></a></center>
    <% if @cat1 %>
      <hr />
		  <%= @cat1 %>
    <% end %>
    <% if @cat2 %>
      <hr />
		  <%= @cat2 %>
    <% end %>
    <% if @cat3 %>
      <hr />
		  <%= @cat3 %>
    <% end %>
		<hr />
		<center><a href="http://www.nationalguard.com/careers" target="blank"><img src="/img/ads/CareerOpportunities.gif" /></a></center>
    <% if @report1 %>
		  <hr class="divider" /><br />
		  <%= @report1 %>
		  <hr />
    <% end %>
		<!-- <center><a href="http://www.nationalguard.com/events/citizen-soldier" target="blank"><img src="/img/ads/Patriotism.gif" /></a></center>
    <% if @report2 %>
		  <hr class="divider" /><br />
		  <%= @report2 %>
		  <hr />
    <% end %>
		<center><a href="http://www.nationalguard.com/life/fitness" target="blank"><img src="/img/ads/Leadership.gif" /></a></center>
    <% if @report3 %>
		  <hr class="divider" /><br />
		  <%= @report3 %>
		  <hr />
    <% end %>
		<center><a href="http://www.nationalguard.com/benefits" target="blank"><img src="/img/ads/FindAdventure.gif" /></a></center> -->
		<br />
		<center><a href="http://www.nationalguard.com/benefits" target="blank"><img src="/img/ads/guard1.gif" /></a></center>
		<br />
		<center><a href="http://www.nationalguard.com" target="blank"><img src="/img/arng-no-ground.svg" width="140px" /></a></center>
		<br />
		<center><img src="/img/ads/guard3.gif" /></center>
		
		<hr />
		<p><center><small>&copy; <%= Time.now.strftime("%Y") %> Career Training Concepts Inc.</small></center></p>

		<p  style="margin-top:12px;"><a onclick="goBack()" class="btn">Back</a></p>
		
		<form>

	</div>
</body>
</html>

<script>
	 function goBack() {
	   window.history.back();
	 }
</script>

