	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a onclick="goBack()" class="btn btn-small pull-right" style="margin-top: 6px;">Back</a>
				<h1 class="page-header"><strong><span class="logo-e">e</span>CareerDirection</strong> Exercise</h1>
			</div>
			<div class="col-md-8 offset-md-2">
				
							
					
			<form method="post" id="exercise">
			
			<table class="table table-striped table-condensed">
				<h3>As part of my job, I would enjoy...</h3>
			<% @ie.sort_by(&:position_number).each do |ie| %>
				<tr>
					<td style="text-align: center;"><%= ie.position_number %></td>
					<td><%= ie.item %></td>
					<td>
						<label class="radio inline checker" for="<%= ie.position_number %>" style="margin-top: 4px;">YES
  						 	<input type="radio" name="<%= ie.position_number %>" id="<%= ie.position_number %>" value="true" />
							<span class="checkmark"style="margin-top: -2px;"></span>
						</label>
					</td>
					<td>
						<label class="radio inline checker" style="margin-top: 4px;">NO
  						 	<input type="radio" name="<%= ie.position_number %>" id="<%= ie.id %> + 100" value="false"  />
							<span class="checkmark" style="margin-top: -2px;"></span>
						</label>
					</td>
				</tr>
			<% end %>
		</table>
 			<input class="btn btn-success pull-right" style="margin-left: 2em;margin-top:-0.3em" type="submit" value="Scores"/>
			<h5 class="pull-right">Get your scores</h5>
			</div>
			</form>
		</div>
	</div>
				
<style>
/* The container */
.checker {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0px;
  color: gray;
  cursor: pointer;
  font-size: 13px;
  line-height: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checker input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checker:hover input ~ .checkmark {
  background-color: #e4e4e4;
}

/* When the radio button is checked, add a blue background */
.checker input:checked ~ .checkmark {
  background-color: #2196F3;
  border: 1px solid #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checker input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
/*.checker .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}*/
</style>				