<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/css/buttons_altered.css" />
<link type="text/css" rel="stylesheet" href="/css/theme.css" />

<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>

				<!-- <a onclick="goBack()" class="btn btn-small pull-right" style="margin-top: 12px;">Back</a> -->
		
<div class="container-fluid">	
	<div class="row">
		<div class="col-md-12" style="text-align: center;">
					
			<video id="video1" class="video2" poster="https://ecareerdirection.s3.us-east-2.amazonaws.com/eCD-poster.jpg" playsinline>
				<source src="https://ecareerdirection.s3.us-east-2.amazonaws.com/ecd-quiz.mp4" type="video/mp4">
			</video>
			
			<div id="submit-area" class="row">
			
				<div class="col-7" style="text-align: center; margin-top: -76px;">
					
					
					
				<form method="post" id="exercise">	
					
					<input type="submit" id="account" class="btn btn-large btn-success" style="margin: -62 -40px 0 0; font-size: 2em;  display: none; text-align: center; float: right;" value="Get Your Scores" />				
					
				<% @ie.sort_by(&:position_number).each do |ie| %>
				
					<div id="<%= ie.tr_number %>" class="spoon" style="display: none; float: right;">
						
						<tr>
							<!-- <td style="color: gray;"><%= ie.position_number %></td> -->
							<!-- <td><%= ie.item %></td> -->
							<!-- <td><%= ie.id %></td> -->
						</tr>
						<tr>
							<td>
								<label class="radio inline checker" for="<%= ie.position_number %>" style="margin-top: 4px;">YES
	  							 	<input type="radio" name="<%= ie.position_number %>" id="<%= ie.position_number %>" value="true" />
									<span class="checkmark" style="margin-top: -6px;"></span>
								</label>
							</td>
							<td>
								<label class="radio inline checker" style="margin-top: 4px;">NO
	  							 	<input type="radio" name="<%= ie.position_number %>" id="<%= ie.id %> + 100" value="false"  />
									<span class="checkmark" style="margin-top: -6px;"></span>
								</label>
							</td>
								
							
							<!-- <td>
								<button id="quest" class="btn btn-large btn-success" style="margin-top: -14; font-size: 2em; float:left;">Start</button>
							</td> -->
							
						</tr>
						
						<div style="color: gray; margin-left: 40%; relative; margin-top: 0.6em; font-size: 1.2em;"><%= ie.position_number %> of 63</div>
						
					</div>   <!-------	spoon  ------->
					
					
				<% end %>
				
				</div>   <!-------	col 7   ------->
				
				<div class="col-5" style="text-align: center; margin-top: -52px;">
					
					
				
				 <button id="quest" class="btn btn-large btn-success" style="margin-top: -26; font-size: 2em; float:left;">Start</button>

				
				
				</form>
				
				
				
				</div>   <!-------	col 5   ------->
				
				<!-- <a href="/student/reports/report/report_profile" clas="btn btn-secondary btn-small pull-right" style="margin-top: 14px; margin-left: 50%">Profile</a> -->
			
			</div>   <!-------	row submit   ------->
		
		</div>   <!-------	col 12   ------->

	</div>   <!-------	row   ------->
	
</div>	<!-------	container   ------->
				
			<!-- <% unless @student.score1 == nil %>
			<% end %> -->
			
<script type="text/javascript">
	
	// function hideURLbar() {	if (window.location.hash.indexOf('#') == -1) {		window.scrollTo(0, 1);	}}if (navigator.userAgent.indexOf('iPhone') != -1 || navigator.userAgent.indexOf('Android') != -1) {    addEventListener("load", function() {            setTimeout(hideURLbar, 0);    }, false);}
	
	
	var $video = $('#video1');
	var video = $video.get(0);
	
	
	
	video.addEventListener('timeupdate', function() {
	  var lastCheckedAt = $video.data('lastcheck') || 0;
	  $video.data('lastcheck', this.currentTime);
	  
	 $("input").on("click", function() {
	     $("button#quest").attr("disabled", false);
	 });
	  
	  if (this.currentTime >= 0 && lastCheckedAt < 0) {
		  this.play();
		  $('button#quest').show();
		  
  	  } else if (this.currentTime >= 3.8 && lastCheckedAt < 3.8) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
	    $("div#101").show();
	  } else if (this.currentTime >= 8.2 && lastCheckedAt < 8.2) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
	   $('div#102').show();
  	  } else if (this.currentTime >= 12.36 && lastCheckedAt < 12.36) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		 $('div#103').show();
  	  } else if (this.currentTime >= 16.8 && lastCheckedAt < 16.8) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		$('div#104').show();
  	  } else if (this.currentTime >= 21 && lastCheckedAt < 21) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		 $('div#105').show();
  	  } else if (this.currentTime >= 25.44 && lastCheckedAt < 25.44) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		 $('div#106').show();
  	  } else if (this.currentTime >= 30 && lastCheckedAt < 30) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		 $('div#107').show();
  	  } else if (this.currentTime >= 34 && lastCheckedAt < 34) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		 $('div#108').show();
  	  } else if (this.currentTime >= 38.5 && lastCheckedAt < 38.5) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		 $('div#109').show();
  	  } else if (this.currentTime >= 42.72 && lastCheckedAt < 42.72) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		 $('div#110').show();
 	  } else if (this.currentTime >= 47.12 && lastCheckedAt < 47.12) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		 $('div#111').show();
  	  } else if (this.currentTime >= 51.4 && lastCheckedAt < 51.4) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		 $('div#112').show();
  	  } else if (this.currentTime >= 55.7 && lastCheckedAt < 55.7) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		 $('div#113').show();
  	  } else if (this.currentTime >= 60.12 && lastCheckedAt < 60.12) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		 $('div#114').show();
  	  } else if (this.currentTime >= 64.38 && lastCheckedAt < 64.38) {
		  this.pause();
  	    $('button#quest').text('Submit').show();
		 $('div#115').show();
  	  } else if (this.currentTime >= 68.8 && lastCheckedAt < 68.8) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#116').show();
	  } else if (this.currentTime >= 73.22 && lastCheckedAt < 73.22) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#117').show();
	  } else if (this.currentTime >= 77.4 && lastCheckedAt < 77.4) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#118').show();
	  } else if (this.currentTime >= 82 && lastCheckedAt < 82) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#119').show();
	  } else if (this.currentTime >= 86.14 && lastCheckedAt < 86.14) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#120').show();
	  } else if (this.currentTime >= 90.40 && lastCheckedAt < 90.40) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#121').show();
	  } else if (this.currentTime >= 95 && lastCheckedAt < 95) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#122').show();
	  } else if (this.currentTime >= 99.20 && lastCheckedAt < 99.20) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#123').show();
	  } else if (this.currentTime >= 103.36 && lastCheckedAt < 103.36) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#124').show();
	  } else if (this.currentTime >= 107.9 && lastCheckedAt < 107.9) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#125').show();
	  } else if (this.currentTime >= 112.18 && lastCheckedAt < 112.18) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#126').show();
	  } else if (this.currentTime >= 116.4 && lastCheckedAt < 116.4) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#127').show();
	  } else if (this.currentTime >= 120.8 && lastCheckedAt < 120.8) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#128').show();
	  } else if (this.currentTime >= 125.22 && lastCheckedAt < 125.22) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#129').show();
	  } else if (this.currentTime >= 129.36 && lastCheckedAt < 129.36) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#130').show();
	  } else if (this.currentTime >= 133.8 && lastCheckedAt < 133.8) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#131').show();
	  } else if (this.currentTime >= 138.24 && lastCheckedAt < 138.24) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#132').show();
	  } else if (this.currentTime >= 142.48 && lastCheckedAt < 142.48) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#133').show();
	  } else if (this.currentTime >= 146.8 && lastCheckedAt < 146.8) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#134').show();
	  } else if (this.currentTime >= 151.3 && lastCheckedAt < 151.3) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#135').show();
	  } else if (this.currentTime >= 155.4 && lastCheckedAt < 155.4) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#136').show();
	  } else if (this.currentTime >= 159.76 && lastCheckedAt < 159.76) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#137').show();
	  } else if (this.currentTime >= 164.2 && lastCheckedAt < 164.2) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#138').show();
	  } else if (this.currentTime >= 168.38 && lastCheckedAt < 168.38) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#139').show();
	  } else if (this.currentTime >= 173 && lastCheckedAt < 173) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#140').show();
	  } else if (this.currentTime >=177.28 && lastCheckedAt < 177.28) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#141').show();
	  } else if (this.currentTime >= 181.44 && lastCheckedAt < 181.44) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#142').show();
	  } else if (this.currentTime >= 186 && lastCheckedAt < 186) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#143').show();
	  } else if (this.currentTime >= 190.2 && lastCheckedAt < 190.2) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#144').show();
	  } else if (this.currentTime >= 194.5 && lastCheckedAt < 194.5) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#145').show();
	  } else if (this.currentTime >= 199 && lastCheckedAt < 199) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#146').show();
	  } else if (this.currentTime >= 203.22 && lastCheckedAt < 203.22) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#147').show();
	  } else if (this.currentTime >= 207.5 && lastCheckedAt < 207.5) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#148').show();
	  } else if (this.currentTime >= 211.84 && lastCheckedAt < 211.84) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#149').show();
	  } else if (this.currentTime >= 216.24 && lastCheckedAt < 216.24) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#150').show();
	  } else if (this.currentTime >= 220.5 && lastCheckedAt < 220.5) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#151').show();
	  } else if (this.currentTime >= 225 && lastCheckedAt < 225) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#152').show();
	  } else if (this.currentTime >= 229.24 && lastCheckedAt < 229.24) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#153').show();
	  } else if (this.currentTime >= 233.48 && lastCheckedAt < 233.48) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#154').show();
	  } else if (this.currentTime >= 237.84 && lastCheckedAt < 237.84) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#155').show();
	  } else if (this.currentTime >= 242.24 && lastCheckedAt < 242.24) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#156').show();
	  } else if (this.currentTime >= 246.5 && lastCheckedAt < 246.5) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#157').show();
	  } else if (this.currentTime >= 251 && lastCheckedAt < 251) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#158').show();
	  } else if (this.currentTime >= 255.24 && lastCheckedAt < 255.24) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#159').show();
	  } else if (this.currentTime >= 259.5 && lastCheckedAt < 259.5) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#160').show();
	  } else if (this.currentTime >= 264 && lastCheckedAt < 264) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#161').show();
	  } else if (this.currentTime >= 268.24 && lastCheckedAt < 268.24) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#162').show();
	  } else if (this.currentTime >= 272.48 && lastCheckedAt < 272.48) {
		  this.pause();
	    $('button#quest').text('Submit').show();
		 $('div#163').show();
	  } else video.addEventListener('ended',function(){
			$('#account').show();
  	  });
	});
	
	$('button#quest').click(function() {
	  video.play();
	  
	  $('div.spoon').hide();
	  $('button#quest').hide();
	  $('button#quest').attr("disabled", true); return false;
	  
	});
	
</script>
	
<script>	
	$('input').on('keydown', function(event) {
	   var x = event.which;
	   if (x === 13) {
	       event.preventDefault();
	   }
	});
</script>	
	
					
<style>
	.checker {
	  display: inl;
	  position: relative;
	  padding-left: 50px;
	  margin-right: 30px;
	  color: gray;
	  cursor: pointer;
	  font-size: 28px;
	  font-weight: bold;
	  line-height: 1em;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
	
	/* Hide the browser's default radio button */
	.checker input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	}
	
	/* Create a custom radio button */
	.checkmark {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 44px;
	  width: 44px;
	  background-color: white;
	  border: 1px solid gray;
	  border-radius: 50%;
	}
	
	/* On mouse-over, add a grey background color */
	.checker:hover input ~ .checkmark {
	  background-color: #e4e4e4;
	}
	
	/* When the radio button is checked, add a blue background */
	.checker input:checked ~ .checkmark {
	  background-color: #2196F3;
	  border: 1px solid #2196F3;
	}
	
	/* Create the indicator (the dot/circle - hidden when not checked) */
	.checkmark:after {
	  content: "";
	  position: absolute;
	  display: none;
	}
	
	/* Show the indicator (dot/circle) when checked */
	.checker input:checked ~ .checkmark:after {
	  display: block;
	}
	
	/* Style the indicator (dot/circle) */
	.checker .checkmark:after {
	 	top: 9px;
		left: 9px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background: white;
	}
	
	.container-fluid	{
		margin: 0;
		margin-top: 6px;
	}
		
	.video2	{
		text-align: center;
		bottom: 0;
		width: 100%;
		height: auto;
		max-width: 800px;
		border: 1px solid #2196F3;
		overflow: hidden;
	}
	
	.video2 video	{
		min-width: 100%;
		min-height: auto;
		width: auto;
		height: auto;
		
	}
		
	label.radio	{
		font-size: 2em;
	}
	
	.submit-area	{
		position: absolute;
	}	

</style>