	<style>
		div.vidiv {
			font-size: 17px;
			line-height: 40px;
			text-align: center;
			margin: 9px 0 0 0;
		}
		div.vidiv a img {
			opacity: 0.9;
			border: 1px solid gray;
		 -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		         box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		}
		div.vidiv a img:hover {
			opacity: 1;
			border: 1px solid #1abc9c;
		 -webkit-box-shadow: 0 3px 5px rgba(0, 188, 156, 0.5);
		    -moz-box-shadow: 0 3px 5px rgba(0, 188, 156, 0.5);
		         box-shadow: 0 3px 5px rgba(0, 188, 156, 0.5);
		}
	</style>
	
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/reports/report/report_profile" class="btn btn-small pull-right" style="margin-top: 12px;">My Profile</a>
				<h1 class="page-header">Careers and Occupations Guide Report</h1>
			</div>
		</div>

		<div class="row">	
			
			<div class="col-lg-6">
				
				<h3><%= @student.first_name %> <%= @student.last_name %></h3>
				<%= @student.email %><br /><br />
				
					<form method="post" id="exercise">
					<table class="table table-striped table-sm table-bordered">
					<h3 style="margin-bottom: 20px;">Your <strong><span class="logo-e">e</span>CD</strong> Exercise Scores</h3>
					
					<tr>
						<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>A</em></th>
						<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>B</em></th>
						<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>C</em></th>
						<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>D</em></th>
						<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>E</em></th>
						<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>F</em></th>
						<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>G</em></th>
						<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>H</em></th>
						<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>I</em></th>
					</tr>
				
				
					<tr>
						<td style="text-align: center; color: #08287a;"><strong><%= @student.score_a %></strong></td>
						<td style="text-align: center; color: #08287a;"><strong><%= @student.score_b %></strong></td>
						<td style="text-align: center; color: #08287a;"><strong><%= @student.score_c %></strong></td>
						<td style="text-align: center; color: #08287a;"><strong><%= @student.score_d %></strong></td>
						<td style="text-align: center; color: #08287a;"><strong><%= @student.score_e %></strong></td>
						<td style="text-align: center; color: #08287a;"><strong><%= @student.score_f %></strong></td>
						<td style="text-align: center; color: #08287a;"><strong><%= @student.score_g %></strong></td>
						<td style="text-align: center; color: #08287a;"><strong><%= @student.score_h %></strong></td>
						<td style="text-align: center; color: #08287a;"><strong><%= @student.score_i %></strong></td>
					</tr>
				
				</table>
					</form>
				
				<h5>Your Highest Score - <em><strong><%= @student.score1 %></strong></em></h5>
				<h5>Your 2nd Highest Score - <em><strong><%= @student.score2 %></strong></em></h5>
				
			
				<% if @student.score1 && @student.score2 %>
				<a href="/student/reports/<%= @student.id %>/scores" style="margin: 12px 0 19px 0;" class="btn btn-success">View short Report</a> &nbsp;&nbsp;
				
				<a href="/student/reports/<%= @student.id %>/scores_full" style="margin: 12px 0 19px 0;" class="btn btn-success">Download full Report</a>
				<% else %>
				<a href="" style="margin: 12px 0 19px 0;" class="btn btn-success">View short Report</a> &nbsp;&nbsp;
				
				<a href="" style="margin: 12px 0 19px 0;" class="btn btn-success">Download full Report</a>
				<% end %>
			</form>
			</div>
			
			<div class="col-lg-5 offset-lg-1">
				
				
				<h3>Explore Other Categories</h3>
				<p>You may have more than two “high” scores or ties. To see additional reports, enter the letters of the other categories. Example: if you scored high in A, B, and C, you may want to view the A/B report, the A/C report, and the B/C report.</p>
				<form method="post" id="report">
				<div class="form-group row">
						<select type="text" class="form-control pull-left" name="ex_score1" id="ex_score1" style="width: 100px; margin-left: 12px;" >
							<option>&nbsp;</option>
							<option <%= 'selected' if @student.ex_score1 == 'A' %> value="A">A</option>
							<option <%= 'selected' if @student.ex_score1 == 'B' %> value="B">B</option>
							<option <%= 'selected' if @student.ex_score1 == 'C' %> value="C">C</option>
							<option <%= 'selected' if @student.ex_score1 == 'D' %> value="D">D</option>
							<option <%= 'selected' if @student.ex_score1 == 'E' %> value="E">E</option>
							<option <%= 'selected' if @student.ex_score1 == 'F' %> value="F">F</option>
							<option <%= 'selected' if @student.ex_score1 == 'G' %> value="G">G</option>
							<option <%= 'selected' if @student.ex_score1 == 'H' %> value="H">H</option>
							<option <%= 'selected' if @student.ex_score1 == 'I' %> value="I">I</option>
						</select>
						<span style="margin: 7px 0 0 12px"><strong>1st Highest Score</strong></span>
				</div>
				<div class="form-group row">
						<select type="text" class="form-control pull-left" name="ex_score2" id="ex_score2" style="width: 100px; margin-left: 12px;" >
							<option>&nbsp;</option>
							<option <%= 'selected' if @student.ex_score2 == 'A' %> value="A">A</option>
							<option <%= 'selected' if @student.ex_score2 == 'B' %> value="B">B</option>
							<option <%= 'selected' if @student.ex_score2 == 'C' %> value="C">C</option>
							<option <%= 'selected' if @student.ex_score2 == 'D' %> value="D">D</option>
							<option <%= 'selected' if @student.ex_score2 == 'E' %> value="E">E</option>
							<option <%= 'selected' if @student.ex_score2 == 'F' %> value="F">F</option>
							<option <%= 'selected' if @student.ex_score2 == 'G' %> value="G">G</option>
							<option <%= 'selected' if @student.ex_score2 == 'H' %> value="H">H</option>
							<option <%= 'selected' if @student.ex_score2 == 'I' %> value="I">I</option>
						</select>
						<span style="margin: 7px 0 0 12px"><strong>2nd Highest Score</strong></span>
				</div>
					<p style="margin: 14px 0 24px 0;">
						<input type="submit" class="btn btn-primary btn-small" value="Save Sample Scores" />
					</p>
				</form>
				<div>
				<a href="/student/reports/<%= @student.id %>/ex_scores" style="margin-bottom: 2px;" class="btn btn-info inline">View short Report - <span style="color: black;"><em><strong><%= @student.ex_score1 %><%= @student.ex_score2 %></strong></em></span></a> &nbsp;&nbsp; <a href="/student/reports/<%= @student.id %>/ex_scores_full" style="margin-bottom: 0px;" class="btn btn-info d-none d-lg-inline">View full Report - <span style="color: black;"><em><strong><%= @student.ex_score1 %><%= @student.ex_score2 %></strong></em></span></a>
				</div>
			</div>
	
		</div>
		
		<hr style="margin: 20px 0; border-top-color: #1abc9c;" />
		<div class="row">
			<div class="col-md-12">
				<h3 style="margin-bottom: 20px; color: #08287a;">Watch videos for your two or three highest categories.</h3>
			</div>
			<div class="col-md-4 vidiv"><a href="https://careertrain.s3.amazonaws.com/A-Outdoor.mp4"><img src="/img/video-thumbs/a-outdoor.jpg" width="99%" /></a><br /><em><strong>A</strong></em> - Outdoor</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/b-arts:comms.jpg" width="99%x" /></a><br /><em><strong>B</strong></em> - Arts/Communications</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/c-bus:manage.jpg" width="99%" /></a><br /><em><strong>C</strong></em> - Business/Management</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/d-clerical:admin.jpg" width="99%" /></a><br /><em><strong>D</strong></em> - Clerical/Administrative</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/e-protect:military.jpg" width="99%" /></a><br /><em><strong>E</strong></em> - Protective/Military Service</div>

			<div class="col-md-4 vidiv"><a href="https://careertrain.s3.amazonaws.com/F-Technology.mp4" style="text-align: center;"><img src="/img/video-thumbs/f-tech.jpg" width="99%" /></a><br /><em><strong>F</strong></em> - Technology</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/g-publicservice.jpg" width="99%" /></a><br /><em><strong>G</strong></em> - Public Service</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/h-science:math.jpg" width="99%" /></a><br /><em><strong>H</strong></em> - Science/Mathematics</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/i-social:help.jpg"  width="99%x" /></a><br /><em><strong>I</strong></em> - Social/Helping</div>
			
		</div>
	</div>

<script  type="text/javascript">
	var frmvalidator = new Validator("report");
	frmvalidator.addValidation("ex_score1","req","Please enter your 1st highest score");
	frmvalidator.addValidation("ex_score2","req","Please enter your 2nd highest score");
</script>
	
	