	<style>
		div.vidiv {
			font-size: 17px;
			line-height: 40px;
			text-align: center;
			margin: 9px 0 0 0;
		}
		div.vidiv a img {
			opacity: 0.9;
			border: 1px solid gray;
		 -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		         box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		}
		div.vidiv a img:hover {
			opacity: 1;
			border: 1px solid #1abc9c;
		 -webkit-box-shadow: 0 3px 5px rgba(0, 188, 156, 0.5);
		    -moz-box-shadow: 0 3px 5px rgba(0, 188, 156, 0.5);
		         box-shadow: 0 3px 5px rgba(0, 188, 156, 0.5);
		}
	</style>
	
	
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/reports/report/report_profile" class="btn btn-small pull-right" style="margin-top: 6px;">My Profile</a>
				<h1 class="page-header">Careers and Occupations Guide Report</h1>
			</div>
		</div>

		<div class="row">	
			<div class="col-md-5">
				<h3><%= @student.first_name %> <%= @student.middle_name %> <%= @student.last_name %></h3>
				<%= @student.email %><br /><br />
			</div>
	
			<div class="col-md-7">
				
			<form method="get">
				<h5>Your Highest Score - <%= @student.score1 %></h5>
				<h5>Your 2nd Highest Score - <%= @student.score2 %></h5>
				<br />
				<a href="/student/reports/<%= @student.id %>/scores" style="margin-bottom: 9px;" class="btn btn-success">View short Report</a> &nbsp;&nbsp;&nbsp;&nbsp;
				
				<a href="/student/reports/<%= @student.id %>/scores_full" style="margin-bottom: 9px;" class="btn btn-success">Download full Report</a>
			</form>
			
			</div>
			<div class="col-md-12">
			
			</div>
		</div>
		<br />
		<hr />
		<div class="row">
			
			<div class="col-md-4 vidiv"><a href="https://careertrain.s3.amazonaws.com/A-Outdoor.mp4"><img src="/img/video-thumbs/a-outdoor.jpg" width="99%" /></a><br /><em><strong>A</strong></em> - Outdoor</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/b-arts:comms.jpg" width="99%x" /></a><br /><em><strong>B</strong></em> - Arts/Communications</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/c-bus:manage.jpg" width="99%" /></a><br /><em><strong>C</strong></em> - Business/Management</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/d-clerical:admin.jpg" width="99%" /></a><br /><em><strong>D</strong></em> - Clerical/Administrative</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/e-protect:military.jpg" width="99%" /></a><br /><em><strong>E</strong></em> - Protective/Military Service</div>

			<div class="col-md-4 vidiv"><a href="https://careertrain.s3.amazonaws.com/F-Technology.mp4" style="text-align: center;"><img src="/img/video-thumbs/f-tech.jpg" width="99%" /></a><br /><em><strong>F</strong></em> - Technology</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/g-publicservice.jpg" width="99%" /></a><br /><em><strong>G</strong></em> - Public Service</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/h-science:math.jpg" width="99%" /></a><br /><em><strong>H</strong></em> - Science/Mathematics</div>
			
			<div class="col-md-4 vidiv"><a href="" style="text-align: center;"><img src="/img/video-thumbs/i-social:help.jpg"  width="99%x" /></a><br /><em><strong>I</strong></em> - Social/Helping</div>
			
		</div>
	</div>
	
