	<style>
		div.vidiv {
			font-size: 17px;
			line-height: 40px;
			text-align: center;
			margin: 9px 0 0 0;
		}
		div.vidiv a img {
			opacity: 0.9;
			border: 1px solid gray;
		 -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		         box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
		}
		div.vidiv a img:hover {
			opacity: 1;
			border: 1px solid #1abc9c;
		 -webkit-box-shadow: 0 3px 5px rgba(0, 188, 156, 0.5);
		    -moz-box-shadow: 0 3px 5px rgba(0, 188, 156, 0.5);
		         box-shadow: 0 3px 5px rgba(0, 188, 156, 0.5);
		}
	</style>
	
<div class="container">	
	<div class="row">  
		<div class="col-md-12">
				<a href="/student/reports/report/report_profile" class="btn btn-small pull-right" style="margin-top: 12px;">My Profile</a>
				<h1 class="page-header">Careers and Occupations Guide Report</h1>
		</div>   <!-------	col 12   ------->
	</div>   <!-------	row   ------->

	<div class="row">	
		<div class="col-lg-6">
				
			<h3><%= @student.first_name %> <%= @student.last_name %></h3>
			<%= @student.email %><br /><br />
			
			<h3 style="margin-bottom: 20px;">Your <strong><span class="logo-e">e</span>CD</strong> Exercise Scores</h3>
			
			<!-- <form method="post" id="exercise"> -->
			<table class="table table-striped table-sm table-bordered">
				
				<tr>
					<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>A</em></th>
					<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>B</em></th>
					<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>C</em></th>
					<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>D</em></th>
					<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>E</em></th>
					<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>F</em></th>
					<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>G</em></th>
					<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>H</em></th>
					<th style="color: #1abd9c;  font-size: 1em; text-align: center;"><em>I</em></th>
				</tr>
			
			<!-- <% @student.exercises(order: [:created_at.desc], limit: 1).each do |e|  %> -->
			
				<tr>
					
					<td style="text-align: center; color: #08287a;"><strong><%= @student.score_a %></strong></td>
					<td style="text-align: center; color: #08287a;"><strong><%= @student.score_b %></strong></td>
					<td style="text-align: center; color: #08287a;"><strong><%= @student.score_c %></strong></td>
					<td style="text-align: center; color: #08287a;"><strong><%= @student.score_d %></strong></td>
					<td style="text-align: center; color: #08287a;"><strong><%= @student.score_e %></strong></td>
					<td style="text-align: center; color: #08287a;"><strong><%= @student.score_f %></strong></td>
					<td style="text-align: center; color: #08287a;"><strong><%= @student.score_g %></strong></td>
					<td style="text-align: center; color: #08287a;"><strong><%= @student.score_h %></strong></td>
					<td style="text-align: center; color: #08287a;"><strong><%= @student.score_i %></strong></td>
				</tr>
				
			</table>
			
			<p>Your Highest Score: <br />
			<span style="font-size: 1.3em; color: #08287a;"><% if @student.score1 == 'a' %><strong><em>A</em> - Outdoor</strong><% end %><% if @student.score1 == 'b' %><strong><em>B</em> - Arts/Communications</strong><% end %><% if @student.score1 == 'c' %><strong><em>C</em> - Business/Management</strong><% end %><% if @student.score1 == 'd' %><strong><em>D</em> - Clerical/Administrative</strong><% end %><% if @student.score1 == 'e' %><strong><em>E</em> - Protective/Military Service</strong><% end %><% if @student.score1 == 'f' %><strong><em>F</em> - Technology</strong><% end %><% if @student.score1 == 'g' %><strong><em>G</em> - Public Service</strong><% end %><% if @student.score1 == 'h' %><strong><em>H</em> - Science/Mathematics</strong><% end %><% if @student.score1 == 'i' %><strong><em>I</em> - Social/Helping</strong><% end %></span></p>
			<p>Your 2nd Highest Score: <br />
			<span style="font-size: 1.3em; color: #08287a;"><% if @student.score2 == 'a' %><strong><em>A</em> - Outdoor</strong><% end %><% if @student.score2 == 'b' %><strong><em>B</em> - Arts/Communications</strong><% end %><% if @student.score2 == 'c' %><strong><em>C</em> - Business/Management</strong><% end %><% if @student.score2 == 'd' %><strong><em>D</em> - Clerical/Administrative</strong><% end %><% if @student.score2 == 'e' %><strong><em>E</em> - Protective/Military Service</strong><% end %><% if @student.score2 == 'f' %><strong><em>F</em> - Technology</strong><% end %><% if @student.score2 == 'g' %><strong><em>G</em> - Public Service</strong><% end %><% if @student.score2 == 'h' %><strong><em>H</em> - Science/Mathematics</strong><% end %><% if @student.score2 == 'i' %><strong><em>I</em> - Social/Helping</strong><% end %></span></p>
				
			<!-- <% end %> -->
				
			<% if @student.score1 && @student.score2 %>
				<a href="/student/reports/<%= @student.id %>/scores" style="margin: 12px 0 19px 0;" class="btn btn-success">View short Report</a> &nbsp;&nbsp;
				
				<!-- <a href="/student/reports/<%= @student.id %>/scores_full" style="margin: 12px 0 19px 0;" class="btn btn-success">Download full Report</a> -->
				
			<% else %>
				<a href="" style="margin: 12px 0 19px 0;" class="btn btn-success mutted">View short Report</a> &nbsp;&nbsp;
				
				<!-- <a href="" style="margin: 12px 0 19px 0;" class="btn btn-success mutted">Download full Report</a> -->
			<% end %>
				
		</div>   <!-------	col 6  ------->
				
		<!-- </form> -->
			
		<div class="col-lg-5 offset-lg-1">
				
				<h3>Explore Other Categories</h3>
				<p>You may have more than two “high” scores or ties. To see additional reports, enter the letters of the other categories. Example: if you scored high in A, B, and C, you may want to view the A/B report, the A/C report, and the B/C report.</p>
				<form method="post" id="report">
				<div class="form-group row">
						<select type="text" class="form-control pull-left" name="ex_score1" id="ex_score1" style="width: 240px; margin-left: 12px;" >
							<option>&nbsp;</option>
							<option <%= 'selected' if @student.ex_score1 == 'a' %> value="a">A - Outdoor</option>
							<option <%= 'selected' if @student.ex_score1 == 'b' %> value="b">B - Arts/Communications</option>
							<option <%= 'selected' if @student.ex_score1 == 'c' %> value="c">C - Business/Management</option>
							<option <%= 'selected' if @student.ex_score1 == 'd' %> value="d">D - Clerical/Administrative</option>
							<option <%= 'selected' if @student.ex_score1 == 'e' %> value="e">E - Protective/Military Service</option>
							<option <%= 'selected' if @student.ex_score1 == 'f' %> value="f">F - Technology</option>
							<option <%= 'selected' if @student.ex_score1 == 'g' %> value="g">G - Public Service</option>
							<option <%= 'selected' if @student.ex_score1 == 'h' %> value="h">H - Science/Mathematics</option>
							<option <%= 'selected' if @student.ex_score1 == 'i' %> value="i">I - Social/Helping</option>
						</select>
						<span style="margin: 7px 0 0 12px"><strong>1st Highest Score</strong></span>
				</div>
				<div class="form-group row">
						<select type="text" class="form-control pull-left" name="ex_score2" id="ex_score2" style="width: 240px; margin-left: 12px;" >
							<option>&nbsp;</option>
							<option <%= 'selected' if @student.ex_score2 == 'a' %> value="a">A - Outdoor</option>
							<option <%= 'selected' if @student.ex_score2 == 'b' %> value="b">B - Arts/Communications</option>
							<option <%= 'selected' if @student.ex_score2 == 'c' %> value="c">C - Business/Management</option>
							<option <%= 'selected' if @student.ex_score2 == 'd' %> value="d">D - Clerical/Administrative</option>
							<option <%= 'selected' if @student.ex_score2 == 'e' %> value="e">E - Protective/Military Service</option>
							<option <%= 'selected' if @student.ex_score2 == 'f' %> value="f">F - Technology</option>
							<option <%= 'selected' if @student.ex_score2 == 'g' %> value="g">G - Public Service</option>
							<option <%= 'selected' if @student.ex_score2 == 'h' %> value="h">H - Science/Mathematics</option>
							<option <%= 'selected' if @student.ex_score2 == 'i' %> value="i">I - Social/Helping</option>
						</select>
						<span style="margin: 7px 0 0 12px"><strong>2nd Highest Score</strong></span>
				</div>
					<p style="margin: 14px 0 24px 0;">
						<input type="submit" class="btn btn-success" id="ex_short" value="Short Example Report" />
					</p>
				</form>
				<!-- <div>
				<a href="/student/reports/<%= @student.id %>/ex_scores" style="margin-bottom: 2px;" class="btn btn-info inline">View short Report</a> &nbsp;&nbsp; <a href="/student/reports/<%= @student.id %>/ex_scores_full"  style="margin-bottom: 0px;" class="btn btn-info d-none d-lg-inline">View full Report</a>
				</div> -->
		</div>   <!-------	col 5   ------->
	
	</div>   <!-------	row   ------->
		
	<hr style="margin: 20px 0; border-top-color: #1abc9c;" />
	
	<div class="row">
		<div class="col-md-12">
			<h3 style="margin-bottom: 20px; color: #08287a;">Watch videos for your two or three highest categories.</h3>
		</div>   <!-------	col 12   ------->
			<div class="col-md-4 vidiv"><a href="https://ecareerdirection.s3.us-east-2.amazonaws.com/outdoor.mp4"><img src="https://ecareerdirection.s3.us-east-2.amazonaws.com/video-thumbs/a-outdoor.jpg" width="99%" /></a><br /><em><strong>A</strong></em> - Outdoor</div>
			
			<div class="col-md-4 vidiv"><a href="https://ecareerdirection.s3.us-east-2.amazonaws.com/arts-comms.mp4" style="text-align: center;"><img src="https://ecareerdirection.s3.us-east-2.amazonaws.com/video-thumbs/b-arts-comms.jpg" width="99%x" /></a><br /><em><strong>B</strong></em> - Arts/Communications</div>
			
			<div class="col-md-4 vidiv"><a href="https://ecareerdirection.s3.us-east-2.amazonaws.com/business-management.mp4" style="text-align: center;"><img src="https://ecareerdirection.s3.us-east-2.amazonaws.com/video-thumbs/c-bus-manage.jpg" width="99%" /></a><br /><em><strong>C</strong></em> - Business/Management</div>
			
			<div class="col-md-4 vidiv"><a href="https://ecareerdirection.s3.us-east-2.amazonaws.com/clerical-administrative.mp4" style="text-align: center;"><img src="https://ecareerdirection.s3.us-east-2.amazonaws.com/video-thumbs/d-clerical-admin.jpg" width="99%" /></a><br /><em><strong>D</strong></em> - Clerical/Administrative</div>
			
			<div class="col-md-4 vidiv"><a href="https://ecareerdirection.s3.us-east-2.amazonaws.com/protective-military.mp4" style="text-align: center;"><img src="https://ecareerdirection.s3.us-east-2.amazonaws.com/video-thumbs/e-protect-military.jpg" width="99%" /></a><br /><em><strong>E</strong></em> - Protective/Military Service</div>

			<div class="col-md-4 vidiv"><a href="https://ecareerdirection.s3.us-east-2.amazonaws.com/technology.mp4" style="text-align: center;"><img src="https://ecareerdirection.s3.us-east-2.amazonaws.com/video-thumbs/f-tech.jpg" width="99%" /></a><br /><em><strong>F</strong></em> - Technology</div>
			
			<div class="col-md-4 vidiv"><a href="https://ecareerdirection.s3.us-east-2.amazonaws.com/public-service.mp4" style="text-align: center;"><img src="https://ecareerdirection.s3.us-east-2.amazonaws.com/video-thumbs/g-public-service.jpg" width="99%" /></a><br /><em><strong>G</strong></em> - Public Service</div>
			
			<div class="col-md-4 vidiv"><a href="https://ecareerdirection.s3.us-east-2.amazonaws.com/science-math.mp4" style="text-align: center;"><img src="https://ecareerdirection.s3.us-east-2.amazonaws.com/video-thumbs/h-science-math.jpg" width="99%" /></a><br /><em><strong>H</strong></em> - Science/Mathematics</div>
			
			<div class="col-md-4 vidiv"><a href="https://ecareerdirection.s3.us-east-2.amazonaws.com/social-helping.mp4" style="text-align: center;"><img src="https://ecareerdirection.s3.us-east-2.amazonaws.com/video-thumbs/i-social-help.jpg"  width="99%x" /></a><br /><em><strong>I</strong></em> - Social/Helping</div>
			
		
	</div>   <!-------	row   ------->
</div>   <!-------	container   ------->

<script  type="text/javascript">
	var frmvalidator = new Validator("report");
	frmvalidator.addValidation("ex_score1","req","Please enter your 1st highest score");
	frmvalidator.addValidation("ex_score2","req","Please enter your 2nd highest score");
</script>
	

	