	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Careers and Occupations Guide Report</h1>
			</div>
		</div>

		<div class="row">	
			<div class="col-md-5">
				<h3><%= @student.first_name %> <%= @student.middle_name %> <%= @student.last_name %></h3>
				<%= @student.email %><br /><br />
			</div>
	
			<div class="col-md-7">
				
			<form method="get">
				<h3>Your Highest Score - <%= @student.score1 %></h3>
				<h3>Your 2nd Highest Score - <%= @student.score2 %></h3>
				<br />
				<a href="/student/reports/<%= @student.id %>/scores"  class="btn btn-success">View short Report</a>
			</form>
			
			</div>
		</div>
		<div class="col-md-12">
			<br />
			<hr />
			
			<a href="https://careertrain.s3.amazonaws.com/A-Outdoor.mp4" style="text-align: center;"><img src="/img/outdoor-thumb.png" class="pic-border" width="300px" /></a><br /><strong>A - OUTDOOR</strong>
			<br />
			<br />
			<a href="https://careertrain.s3.amazonaws.com/F-Technology.mp4" style="text-align: center;"><img src="/img/technology-thumb.png" class="pic-border" width="300px" /></a><br /><strong>F - TECHNOLOGY</strong>
			<br />
			
		
		</div>
	</div>
	
