	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Student Account</h1>
			</div>
			
			<div class="col-md-7">
				<div>
					<h6>Take the <strong><span class="logo-e">e</span>CD</strong> Exercise to focus on your future</h6>
					<p class="lead">Let's take the <strong><span class="logo-e">e</span>CD</strong> Exercise to get your Careers and Occupations Guide Report.</p>
					<p>This is your own personalized academic and career planning report. You may take the <strong><span class="logo-e">e</span>CD</strong> Exercise twice. After that you can still view your reports and videos.</p>
					
					<% if @student.exercises.count < 2 %>
					<p style="margin-top: 14px;"><a href="/student/reports/<%= @student.id %>/exercise" class="btn btn-success"><strong><span class="logo-e-white">e</span>CD</strong> Exercise</a></p>
					<% else %>
					<p style="margin-top: 14px;"><a href="/student/reports/<%= @student.id %>/report" class="btn btn-success"><strong><span class="logo-e-white">e</span>CD</strong> Student Account</a></p>	
					<% end %>
									
				</div>
				
				<hr style="margin: 20px 0; border-top-color: #1abc9c;" />
				
				<div>
					<h6>Online Resum&eacute; Tool</h6>
					<p class="lead">Let's build a resume to help you land that interview.</p>
					<p>Well organized step-by-step builder includes cover letter, thank you notes, and references.</p>
					<p style="margin-top: 14px;"><a href="/student/resume/index" class="btn btn-success">Resume Tool</a></p>
					<br />
				</div>
			</div>
			<div class="col-md-5">
				<div class="sign-in" style="padding: 24px 24px;">
					<h5>
  						<strong><%= @student.first_name %> <%= @student.last_name %></strong>
  						<br />
					</h5>
					<p>	
						<%= @student.email %><br />
  						<strong>School Password</strong> &nbsp; <%= @student.school_password %><br /><br />
						<a href="/student/reports/<%= @student.id %>/edit" class="btn">&nbsp;&nbsp;Edit Profile&nbsp;&nbsp;</a><br />
					</p>
				</div><br />
				<p style="line-height: 15px;"><a style="margin: 5px 24px 40px 24px;" class="btn btn-mini btn-secondary pull-left" href="/student/resume/sign-out">&nbsp;&nbsp;<i class="icon-signout"> </i> &nbsp;Sign out&nbsp;&nbsp;</a>
				<strong>PROTECT YOUR PRIVACY.</strong>
				<small>If you are using a public or shared device <strong>sign out</strong> when finished.</small></p>
			</div>
		</div>
	</div>
	
