	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">Careers and Occupations Guide Report</h1>
			</div>
		</div>
		<div class="row">	
			<div class="col-md-12">
				<h3><%= @student.first_name %> <%= @student.middle_name %> <%= @student.last_name %></h3>
				<%= @student.email %><br /><br />
			</div>
		</div>
		<div class="row">	
  			<div class="col-md-7">
				<table class="table table-striped table-sm table-bordered">
					<thead>
						<tr>
							<th style="text-align: left;">Date</th>
							<th style="text-align: center; color: teal;">A</th>
							<th style="text-align: center; color: teal;">B</th>
							<th style="text-align: center; color: teal;">C</th>
							<th style="text-align: center; color: teal;">D</th>
							<th style="text-align: center; color: teal;">E</th>
							<th style="text-align: center; color: teal;">F</th>
							<th style="text-align: center; color: teal;">G</th>
							<th style="text-align: center; color: teal;">H</th>
							<th style="text-align: center; color: teal;">I</th>
						</tr>
					</thead>
					<tbody>
				<% @student.exercises.sort{|a| a.updated_at}.each do |e| %>
				
						<tr>
							<td style="text-align: left;"><%= format_day(e.created_at) %></td>
							<td style="text-align: center;"><%= e.score_a %></td>
							<td style="text-align: center;"><%= e.score_b %></td>
							<td style="text-align: center;"><%= e.score_c %></td>
							<td style="text-align: center;"><%= e.score_d %></td>
							<td style="text-align: center;"><%= e.score_e %></td>
							<td style="text-align: center;"><%= e.score_f %></td>
							<td style="text-align: center;"><%= e.score_g %></td>
							<td style="text-align: center;"><%= e.score_h %></td>
							<td style="text-align: center;"><%= e.score_i %></td>
						</tr>
						
						<% end %>
					</tbody>
				</table>
			</div> 
				
			<form method="get">
				
			<div class="col-md-5">
				<p>Enter the Occupational Category letters corresponding to your highest column totals from your Interest Exercise (letters A - I) at left. You must enter at least 2 letters to create a report.</p>
				<div class="form-group row">
						<select type="text" class="form-control pull-left" name="score1" id="score1" style="width: 100px; margin-left: 12px;" >
							<option>&nbsp;</option>
							<option>A</option>
							<option>B</option>
							<option>C</option>
							<option>D</option>
							<option>E</option>
							<option>F</option>
							<option>G</option>
							<option>H</option>
							<option>I</option>
						</select>
						<span style="margin: 7px 0 0 12px">1st Highest</span>
				</div>
				<div class="form-group row">
						<select type="text" class="form-control pull-left" name="score2" id="score2" style="width: 100px; margin-left: 12px;" >
							<option>&nbsp;</option>
							<option>A</option>
							<option>B</option>
							<option>C</option>
							<option>D</option>
							<option>E</option>
							<option>F</option>
							<option>G</option>
							<option>H</option>
							<option>I</option>
						</select>
						<span style="margin: 7px 0 0 12px">2nd Highest</span>
				</div>
				
					<p style="margin-top: 24px;">
						<input type="submit" class="btn btn-success" value="View Report" />
					</p>
				
			</div>
			
			</form>
			
		</div>
	</div>
	
