	

	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				
				
				
				<h1 class="page-header">Student Account</h1>
				</div>
			
			
			<div class="col-md-7">
				<div>
					<img src="/img/eCDsmlogo.svg" style="width: 44px; float: left; margin: -2px 0 0 0;"><h6 style="margin-left: 54px;">Take the <strong><span class="logo-e">e</span>CD</strong> Exercise to focus on your future and get your Careers and Occupations Guide Report.</h6>
					<p class="lead">This is your own personalized academic and career planning report.</p> 
					<p>You may take the <strong><span class="logo-e">e</span>CD</strong> Exercise twice. After that you can still view your reports and videos.</p>
					
					
					
					<% if @student.exercises.count == 0 %>
					<p style="margin-top: 14px;"><a href="/student/reports/<%= @student.id %>/exercise" class="btn btn-success">Take Exercise</a>					
					</p>
					<% elsif @student.exercises.count == 1 %>
					<p style="margin-top: 14px;"><a href="/student/reports/<%= @student.id %>/report" class="btn btn-info">Exercise Results</a>
					
					<a href="/student/reports/<%= @student.id %>/exercise" class="btn btn-success">Take Exercise Again</a></p>
					<% else %>
					<p style="margin-top: 14px;"><a href="/student/reports/<%= @student.id %>/report" class="btn btn-sinfo">Exercise Results</a></p>
					<% end %>
									
				</div>
				
				<hr style="margin: 20px 0; border-top-color: #1abc9c;" />
				
				<div>
					<img src="/img/eCDsmlogo.svg" style="width: 44px; float: left; margin: -2px 0 0 0;"><h6 style="margin-left: 54px;">Online Resume Tool</h6>
					<p class="lead">Let's build a resume to help you land that interview.</p>
					<p>Well organized step-by-step builder includes cover letter, thank you notes, and references.</p>
					<% if @student.city == nil || @student.zip == nil || @student.address == nil || @student.state == nil || @student.phone == nil %>
					
					<p style="margin-top: 14px;"><a href="/student/resume/edit" class="btn btn-success">Resume Tool</a></p>
					
					<% else %>
					
					<p style="margin-top: 14px;"><a href="/student/resume/index" class="btn btn-success">Resume Tool</a></p>
					
					<% end %>
					<br />
				</div>
			</div>
			<div class="col-md-5">
				<div class="sign-in" style="padding: 24px 24px;">
					<h5>
  						<strong><%= @student.first_name %> <%= @student.last_name %></strong>
  						<br />
					</h5>
					<p>	
						<%= @student.email %><br />
  						<strong>School ID</strong> &nbsp; <%= @student.school_password %><br />
						<br />
						<a href="/student/reports/<%= @student.id %>/edit" class="btn">&nbsp;&nbsp;Edit Profile&nbsp;&nbsp;</a><br />
					</p>
				</div><br />
				<p style="line-height: 15px;"><a style="margin: 2px 24px 40px 24px; background-color: #000000;" class="btn btn-small btn-secondary pull-left" href="/student/resume/sign-out">&nbsp;&nbsp;<i class="icon-signout"> </i> &nbsp;Sign out&nbsp;&nbsp;</a>
				<strong>PROTECT YOUR PRIVACY.</strong>
				<small>If you are using a public or shared device <strong>sign out</strong> when finished.</small></p>
			</div>
		</div>
	</div>
	
