	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">New Recruiter</h1>
			</div>
			<div class="col-md-12">
				<p class="lead"><strong style="color: #4e8f00;">Your email has been verified.</strong> Finish your registration to get started.</p>
			</div>
		</div>
		
		<form method="post" id="create_rec" class="needs-validation" novalidate>

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="validationEmail">Email</label>
				
				<input type="email" name="email" id="email" class="form-control" style="color: black;" value="<%= session[:recr] %>" disabled />
				
				
			</div>
			<div class="form-group col-md-6">
			<label for="password">Password</label>
				<input type="password" name="password" id="password" class="form-control" placeholder="" value="<%= @recruiter.password %>" required />
				<div class="invalid-feedback">
					Please create a password.
				</div>
			</div>
		</div>	
		<!-- <div class="form-row">
			<div class="form-group">
				<label class="checkbox">&nbsp;</label>
				<input type="checkbox" name="recruiter_status" id="recruiter_status" <%= 'checked="checked"' if @recruiter.recruiter_status  %> /><strong>&nbsp;&nbsp;&nbsp;RRC</strong><label class="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 				<input type="checkbox" name="active" id="active" <%= 'checked="checked"' if @recruiter.active  %> />&nbsp;&nbsp;&nbsp;<strong>Active Recruiter</strong>

			</div>
		</div>	 -->	
		<div class="form-row">
			<div class="form-group col-md-2">
				<label for="validationRank">Rank</label>
				<input type="text" name="rank" id="validationRank" class="form-control" placeholder="" value="<%= @recruiter.rank %>" required />
				<div class="invalid-feedback">
				   Rank
				</div>
			</div>
			<div class="form-group col-md-5">
				<label for="first_name">First name</label>
				<input type="text" name="first_name" id="first_name" class="form-control" placeholder="" value="<%= @recruiter.first_name %>" required />
				<div class="invalid-feedback">
				   Please enter your first name.
				</div>
			</div>
			<!-- <div class="form-group col-md-3">
				<label for="middle_name">Middle initial</label>
				<input type="text" name="middle_name" id="middle_name" class="form-control" placeholder="" value="<%= @recruiter.middle_name %>" />
				<div class="invalid-feedback">
				   Not required.
				</div>
			</div> -->
			<div class="form-group col-md-5">
				<label for="last_name">Last name</label>
				<input type="text" name="last_name" id="last_name" class="form-control" placeholder="" value="<%= @recruiter.last_name %>" required />
				<div class="invalid-feedback">
				   Please enter your last name.
				</div>
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="address1">Address</label>
				<input type="text" name="address1" id="address1" class="form-control" placeholder="" value="<%= @recruiter.address1 %>" required />
				<div class="invalid-feedback">
				   Please enter your address
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="address2">&nbsp;</label>
				<input type="text" name="address2" id="address2 " class="form-control" placeholder="" value="<%= @recruiter.address2 %>" />
				<div class="valid-feedback">Not required</div>
				
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="city">City</label>
				<input type="text" name="city" id="city" class="form-control" placeholder="" value="<%= @recruiter.city %>" required />
				<div class="invalid-feedback">
				   Please enter your city.
				</div>
			</div>
			<div class="control-group col-md-2">
				<label for="state">State</label>
				<select type="text" class="form-control custom-select" id="state" name="state" value="<%= @recruiter.state %>"  required>
						<option value="">State</option>
					<% @state.sort{|a,b| a.id <=> b.id}.each do |state| %>
						<option value="<%= state.abbr %>" <%= 'selected' if state.abbr == @recruiter.state %>><%= state.abbr %></option>
					<% end %>
				</select>
				<div class="invalid-feedback">State</div>
			</div>
			<div class="control-group col-md-3">
				<label for="zip">ZIP</label>
				<input type="text" name="zip" id="zip" class="form-control" placeholder="" pattern="^\s*\d{5}(-?\s*\d{4})?\s*$" maxlength="10" minlength="5" value="<%= @recruiter.zip %>" required />
				<div class="invalid-feedback">
				   ZIP
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="phone">Phone</label>
				<input type="text" name="phone" id="phone" class="form-control" placeholder="" value="<%= @recruiter.phone %>" required />
				<div class="invalid-feedback">
				   Please enter your phone number.
				</div>
			</div>
			<!-- <div class="form-group col-md-3">
				<label for="ssnl4">SSN last 4 digits only</label>
				<input type="text" name="ssnl4" id="ssnl4" class="form-control" value="<%= @recruiter.ssnl4 %>" />
			</div> -->
		</div>
				
				<!-- <div class="control-group">
				    <div class="controls">
				      <label class="checkbox">
	 			    	  <input type="checkbox" name="recruiter_status" id="recruiter_status" <%= 'checked="checked"' if @recruiter.recruiter_status  %> />
						  <strong>Active</strong>
	 			  		</label>
					</div>
				</div> -->
				
		<div class="form-row">
			<div class="form-group col-md-12">
				<input class="btn btn-primary" style="margin-right: 14px;" type="submit" value="Save" /> &nbsp;<a href="/arng/arng/" class="btn btn-secondary">Cancel</a> 
			</div>
			</form>	
			
		</div> <!-- /row -->
	</div> <!-- /container -->
	
<script>
	
	(function() {
		'use strict';
		window.addEventListener('load', function() {
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();
	
</script>
	
<!-- <script>
  function formatPhoneNumber(value) {
    if (!value) return value;
    const phoneNumber = value.replace(/[^\d]/g, '');
    const phoneNumberLength = phoneNumber.length;
    if (phoneNumberLength < 4) return phoneNumber;
    if (phoneNumberLength < 7) {
      return `(${phoneNumber.slice(0, 3)}) ${phoneNumber.slice(3)}`;
    }
    return `(${phoneNumber.slice(0, 3)}) ${phoneNumber.slice(
      3,
      6
    )}-${phoneNumber.slice(6, 9)}`;
  }

  function phoneNumberFormatter() {
    const inputField = document.getElementById('phone');
    const formattedInputValue = formatPhoneNumber(inputField.value);
    inputField.value = formattedInputValue;
  }
</script> -->

<!-- <script>
	function isUSAZipCode(str)
	{
	  return /^\d{5}(-\d{4})?$/.test(str);
	}

	function validateInput()
	{
	  console.log("validateInput");
	  let zipCode = document.getElementById("school_zip").value;
	  let message = "";
	  if (isUSAZipCode(zipCode))
	  {
	    message = "Valid Zip Code";
	  } else {
	    message = "Invalid Zip Code";
	  }
	  document.getElementById("msg").innerHTML = message;
	}
</script> -->

<!-- <script>
	function ValidateEmail(@school.email)
	{
	 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(myForm.emailAddr.value))
	  {
	    return (true)
	  }
	    alert("You have entered an invalid email address!")
	    return (false)
	}
</script> -->

