	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p style="float:right;"><a href="/admin/admin_edit" style="margin-top: 6px;" class="btn">Admin Index</a>
			<h1 class="page-header">Recruiters</h1>
			<table class="table table-striped table-hover table-sm">
				<tr>
				<th style="text-align: center;"><small>ACTIVE</small></th>
				<th>Recruiter</th>
				<th>Email</th>
				<th style="text-align: center;">State</th>
				<th style="text-align: center;">RRC</th>
				<th> </th>
			</tr>
			<% @recruiter.each do |recruiter| %>
			<tr>
				<td style="text-align: center;"><% if recruiter.active == true %> • <% end %></td>
				<td><%= recruiter.first_name %> <%= recruiter.last_name %></td>
				<td><%= recruiter.email %></td>
				<td style="text-align: center;"><%= recruiter.state %></td>
				<td style="text-align: center;"><% if recruiter.recruiter_status == true %>RRC<% end %></td>
				<td style="text-align: right;"><a href="/recruiters/<%= recruiter.id %>/edit/" class="btn btn-small">Edit</a>&nbsp;&nbsp;<a href="/recruiters/<%= recruiter.id %>/view/" class="btn btn-small">View</a></td>
			</tr>
			<% end %>
			</table>
			</div>
		</div>
	</div>
