	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1 class="page-header">New Recruiter</h1>
			</div>
			<div class="col-md-12">
				<p class="lead"><strong style="color: #4e8f00;">You are verified.</strong> Finish your registration to get started.</p>
			</div>
		</div>
		
		<form method="post" id="create_rec" class="needs-validation" novalidate>
					
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="validationEmail">Email <%= params[:email] %></label>
				
				<input type="email" name="email" id="validationEmail" class="form-control" placeholder="You must use a valid .mil email" value="<%= params[:email] %>" required />
				<div class="invalid-feedback">
				  Please enter a valid .mil email.
				</div>
				
			</div>
			<div class="form-group col-md-6">
			<label for="password">Password</label>
				<input type="password" name="password" id="password" class="form-control" placeholder="Create a password" value="<%= @recruiter.password %>" required />
				<div class="invalid-feedback">
					Please select a password.
				</div>
			</div>
		</div>	
		<!-- <div class="form-row">
			<div class="form-group">
				<label class="checkbox">&nbsp;</label>
				<input type="checkbox" name="recruiter_status" id="recruiter_status" <%= 'checked="checked"' if @recruiter.recruiter_status  %> /><strong>&nbsp;&nbsp;&nbsp;RRC</strong><label class="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 				<input type="checkbox" name="active" id="active" <%= 'checked="checked"' if @recruiter.active  %> />&nbsp;&nbsp;&nbsp;<strong>Active Recruiter</strong>

			</div>
		</div>	 -->	
		<div class="form-row">
			<div class="form-group col-md-1">
				<label for="validationRank">Rank</label>
				<input type="text" name="rank" id="validationRank" class="form-control" placeholder="Rank" value="<%= @recruiter.rank %>" required />
				<div class="invalid-feedback">
				   Rank
				</div>
			</div>
			<div class="form-group col-md-4">
				<label for="first_name">Fist name</label>
				<input type="text" name="first_name" id="first_name" class="form-control" placeholder="First name" value="<%= @recruiter.first_name %>" required />
				<div class="invalid-feedback">
				   Please enter your first name.
				</div>
			</div>
			<div class="form-group col-md-3">
				<label for="middle_name">Middle initial</label>
				<input type="text" name="middle_name" id="middle_name" class="form-control" placeholder="Middle initial" value="<%= @recruiter.middle_name %>" />
				<div class="invalid-feedback">
				   Not required.
				</div>
			</div>
			<div class="form-group col-md-4">
				<label for="last_name">Last name</label>
				<input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last name" value="<%= @recruiter.last_name %>" required />
				<div class="invalid-feedback">
				   Please enter your last name.
				</div>
			</div>
		</div>
		
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="address1">Address</label>
				<input type="text" name="address1" id="address1" class="form-control" placeholder="Address" value="<%= @recruiter.address1 %>" required />
				<div class="invalid-feedback">
				   Please enter your address
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="address2">&nbsp;</label>
				<input type="text" name="address2" id="address2 " class="form-control" placeholder="Address" value="<%= @recruiter.address2 %>" />
				<div class="valid-feedback">Not required</div>
				
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="city">City</label>
				<input type="text" name="city" id="city" class="form-control" placeholder="City" value="<%= @recruiter.city %>" required />
				<div class="invalid-feedback">
				   Please enter your city.
				</div>
			</div>
			<div class="control-group col-md-2">
				<label for="state">State</label>
				<select type="text" class="form-control custom-select" id="state" name="state" value="<%= @recruiter.state %>"  required>
						<option value="">State</option>
					<% @state.sort{|a,b| a.abbr <=> b.abbr}.each do |state| %>
						<option value="<%= state.abbr %>" <%= 'selected' if state.abbr == @recruiter.state %>><%= state.abbr %></option>
					<% end %>
				</select>
				<div class="invalid-feedback">State</div>
			</div>
			<div class="control-group col-md-3">
				<label for="zip">ZIP</label>
				<input type="text" name="zip" id="zip" class="form-control" placeholder="Zip" value="<%= @recruiter.zip %>" required />
				<div class="invalid-feedback">
				   ZIP
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="phone">Phone</label>
				<input type="text" name="phone" id="phone" class="form-control" placeholder="Phone" value="<%= @recruiter.phone %>" required />
				<div class="invalid-feedback">
				   Please enter your phone number.
				</div>
			</div>
			<!-- <div class="form-group col-md-3">
				<label for="ssnl4">SSN last 4 digits only</label>
				<input type="text" name="ssnl4" id="ssnl4" class="form-control" value="<%= @recruiter.ssnl4 %>" />
			</div> -->
		</div>
				
				<!-- <div class="control-group">
				    <div class="controls">
				      <label class="checkbox">
	 			    	  <input type="checkbox" name="recruiter_status" id="recruiter_status" <%= 'checked="checked"' if @recruiter.recruiter_status  %> />
						  <strong>Active</strong>
	 			  		</label>
					</div>
				</div> -->
				
		<div class="form-row">
			<div class="form-group col-md-12">
				<input class="btn btn-primary" style="margin-right: 14px;" type="submit" value="Save" /> &nbsp;<a href="/arng/arng/" class="btn btn-secondary">Cancel</a> 
			</div>
			</form>	
			
		</div> <!-- /row -->
	</div> <!-- /container -->
	
<script>
	
	(function() {
		'use strict';
		window.addEventListener('load', function() {
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();
	
</script>
	
