<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<h1>Education &nbsp; <small><%= @student.name %></small></h1><br />
			<div class="span10 offset2">
				
				<form class="form-horizontal" method="post">
					<hr />
					<div class="control-group">
					   <label class="control-label" for="attending">I am attending:</label>
						<div class="controls">
							<input type="text" name="attending" id="attending" class="textfield col-md-4" value="<%= @education.attending %>" /><span class="help-inline">(name of school)</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="graduate_on">I will graduate on:</label>
						<div class="controls">
							<input type="text" class="textfield col-md-4" name="graduate_on" id="graduate_on" value="<%= @education.graduate_on %>" /><span class="help-inline">(Month Year)</span>
						</div>
					</div>
					<hr />
					<div class="control-group">
					   <label class="control-label" for="plan_attend">I plan to attend:</label>
						<div class="controls">
							<input type="text" name="plan_attend" id="plan_attend" class="textfield col-md-4" value="<%= @education.plan_attend %>" /><span class="help-inline">(name of school)</span>
						</div>
					</div>
					<div class="control-group">
					   <label class="control-label" for="study">Degree or field of study:</label>
						<div class="controls">
							<input type="text" name="study" id="study" class="textfield col-md-4" value="<%= @education.study %>" />
						</div>
					</div>
					<hr />
					<div class="control-group">
					   <label class="control-label" for="completed">I have completed:</label>
						<div class="controls">
							<input type="text" name="completed" id="completed" class="textfield col-md-4" value="<%= @education.completed %>" /><span class="help-inline">(AA, AT, BFA, BA, BS, MBA)</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="completed_on">Completion date:</label>
						<div class="controls">
							<input type="text" class="textfield col-md-4" name="completed_on" id="completed_on" value="<%= @education.completed_on %>" /><span class="help-inline">(Month Year)</span>
						</div>
					</div>
					<hr />
					<div class="control-group">
					   <label class="control-label" for="graduated">I have graduated:</label>
						<div class="controls">
							<input type="text" name="graduated" id="graduated" class="textfield col-md-4" value="<%= @education.graduated %>" /><span class="help-inline">(name of school)</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="graduation_date">Date of graduation:</label>
						<div class="controls">
							<input type="text" class="textfield col-md-4" name="graduation_date" id="graduation_date" value="<%= @education.graduation_date %>" /><span class="help-inline">(Month Year)</span>
						</div>
					</div>
					<div class="control-group">
					   <label class="control-label" for="degree">Degree received:</label>
						<div class="controls">
							<input type="text" name="degree" id="degree" class="textfield col-md-4" value="<%= @education.degree %>" /><span class="help-inline">(AA, AT, BFA, BA, BS, MBA)</span>
						</div>
					</div>
					<hr />
					<div class="control-group">
						<div class="controls">
							<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/educations/educations">Cancel</a>
						</div>
					</div>
					<br />
				</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

