	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/resume/index" class="btn btn-small pull-right" style="margin-top: 12px;">Resume Tool</a>
				<h1 class="page-header">Education</h1>
			</div>
		</div>
		<form class="form-horizontal" method="post">
		<div class="form-row">
			<div class="form-group col-md-10 offset-md-1">
				<label for="attending">I am attending:</label><br />
				<input type="text" name="attending" id="attending" class="textfield col-md-6" value="<%= @education.attending %>" /><span class="help-inline">&nbsp; (name of school)</span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-10 offset-md-1">
				<label for="graduate_on">I will graduate on:</label><br />
				<input type="text" class="textfield col-md-4" name="graduate_on" id="graduate_on" value="<%= @education.graduate_on %>" /><span class="help-inline">&nbsp; (Month Year)</span>
			</div>
		</div>
		<hr />
		<div class="form-row">
			<div class="form-group col-md-10 offset-md-1">
				<label class="control-label" for="plan_attend">I plan to attend:</label><br />
				<input type="text" name="plan_attend" id="plan_attend" class="textfield col-md-6" value="<%= @education.plan_attend %>" /><span class="help-inline">&nbsp; (name of school)</span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-10 offset-md-1">
				<label class="control-label" for="study">Degree or field of study:</label><br />
				<input type="text" name="study" id="study" class="textfield col-md-6" value="<%= @education.study %>" />
			</div>
		</div>
		<hr />
		<div class="form-row">
			<div class="form-group col-md-10 offset-md-1">
				<label class="control-label" for="completed">I have attended:</label><br />
					<input type="text" name="completed" id="completed" class="textfield col-md-4" value="<%= @education.completed %>" /><span class="help-inline">&nbsp;</span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-10 offset-md-1">
				<label class="control-label" for="completed_on">Completion date:</label><br />
					<input type="text" class="textfield col-md-4" name="completed_on" id="completed_on" value="<%= @education.completed_on %>" /><span class="help-inline">&nbsp; (Month Year)</span>
			</div>
		</div>
		<hr />
		<div class="form-row">
			<div class="form-group col-md-10 offset-md-1">
				<label class="control-label" for="graduated">I have graduated:</label><br />
					<input type="text" name="graduated" id="graduated" class="textfield col-md-6" value="<%= @education.graduated %>" /><span class="help-inline">&nbsp; (name of school)</span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-10 offset-md-1">
				<label class="control-label" for="graduation_date">Date of graduation:</label><br />
					<input type="text" class="textfield col-md-4" name="graduation_date" id="graduation_date" value="<%= @education.graduation_date %>" /><span class="help-inline">&nbsp; (Month Year)</span>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-10 offset-md-1">
				<label class="control-label" for="degree">Degree received:</label><br />
					<input type="text" name="degree" id="degree" class="textfield col-md-4" value="<%= @education.degree %>" /><span class="help-inline">&nbsp; (AA, AT, BFA, BA, BS, MBA, etc.)</span>
			</div>
		</div>
		<hr />
		<div class="form-row">
			<div class="form-group col-md-10 offset-md-1">
				<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/educations/educations">Cancel</a>
			</div>
		</div>
		</form>	
			
		</div> <!-- /row -->
	</div> <!-- /container -->

