	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/resume/index" class="btn btn-small pull-right" style="margin-top: 12px;">Resume Tool</a>
				<h1 class="page-header">Reference</h1>
			</div>
			<div class="col-md-8 offset-md-2">
			
				<p>You can add other references after saving.</p>
				
				<form class="form-horizontal" method="post">
					
					<div class="form-row">
						<div class="form-group col-md-12">
					   	<label class="control-label" for="name">Name</label><br />
							<input type="text" name="name" id="name" class="textfield col-md-8" value="<%= @reference.name %>" />
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
					   	<label class="control-label" for="relationship">Relationship</label><br />
							<input type="text" name="relationship" id="relationship" class="textfield col-md-4" value="<%= @reference.relationship %>" />
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
					   	<label class="control-label" for="address">Address</label><br />
							<input type="text" name="address" id="address" class="textfield col-md-10" value="<%= @reference.address %>" />
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
					   	<label class="control-label" for="city">City</label><br />
							<input type="text" name="city" id="city" class="textfield col-md-8" value="<%= @reference.city %>" />
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
					   	<label class="control-label" for="state">State</label><br />
							<input type="text" name="state" id="state" class="textfield col-md-2" value="<%= @reference.state %>" />
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
					   	<label class="control-label" for="zip">Zip</label><br />
							<input type="text" name="zip" id="zip" class="textfield col-md-4" value="<%= @reference.zip %>" />
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
					   	<label class="control-label" for="phone">Phone</label><br />
							<input type="text" name="phone" id="phone" class="textfield col-md-8" value="<%= @reference.phone %>" />
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
					   	<label class="control-label" for="email">Email</label><br />
							<input type="text" name="email" id="email" class="textfield col-md-10" value="<%= @reference.email %>" />
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/references/references">Cancel</a> &nbsp; <% if @student.references.count > 0 %><a class="btn btn-small btn-warning delete" href="/student/resume/references/<%= @reference.id %>/delete">Delete</a><% end %>
						</div>
					</div>
		
				</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
