<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<div class="col-md-12">
					<h1>Resume</h1><br />
				</div>
				<div class="span10 offset1">	
					
					<!-- <p class="pull-right"><a class="btn btn-small btn-success" href="/student/resume/resume-print">Download PDF</a></p> -->
					<p><a class="btn btn-small" href="/student/resume/index">Resume Tool</a></p>
					<hr />
						<p>You can also copy and paste contents into a Microsoft Word or similar document to edit and save.</p>
						<p class="semi-bold ">Check grammar and spelling.</p>
						<table style="margin: 18px 0 0 48px;">
						<% @student.references.each do |reference| %>
						<tr>
							<td style="padding-bottom: 18px;">
								<strong><%= reference.name %></strong><br />
								<%= reference.relationship %><br />
								<%= reference.address %><br />
								<%= reference.city %>, <%= reference.state %> <%= reference.zip %><br />
								<%= reference.phone %><br />
								<%= reference.email %><br />
							</td>
						</tr>
						<% end %>
					</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
