	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/resume/index" class="btn btn-small pull-right" style="margin-top: 12px;">Resume Tool</a>
				<h1 class="page-header">References</h1>
			</div>
			<div class="col-md-8 offset-md-2">
				
									
					<p><strong><%= @reference.name %></strong></p>
						
					<p><%= @reference.relationship %></p>
							
					<p><%= @reference.address %><br />

					<%= @reference.city %>  <%= @reference.state %>  &nbsp;<%= @reference.zip %></p>
					
					<p><%= @reference.phone %></p>
					
					<p><%= @reference.email %></p><br />
					
					
				<p><a href="/student/resume/references/<%= @reference.id %>/edit" class="btn btn-small btn-success">Edit</a> &nbsp; <a href="/student/resume/references/references" class="btn btn-small">Index</a></p>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
