<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1>Reference &nbsp; <small><%= @student.name %></small></h1><br />
			</div>
			<div class="span8 offset2">
						
					<p>name<br /><%= @reference.name %></p>
						
					<p>relationship<br /><%= @reference.relationship %></p>
							
					<p>address<br /><%= @reference.address %></p>

					<p>city<br /><%= @reference.city %></p>
					
					<p>state<br /><%= @reference.state %></p>
					
					<p>zip<br /><%= @reference.zip %></p>
					
					<p>phone<br /><%= @reference.phone %></p>
					
					<p>email<br /><%= @reference.email %></p>
					
				<a href="/student/resume/references/<%= @reference.id %>/edit" class="btn btn-small">Edit</a>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->