<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1>Activities and Associations &nbsp; <small><%= @student.name %></small></h1><br />
		
			<div class="span8 offset2">
				
				<p>You can enter others after saving.</p>
				<form class="form-horizontal" method="post">
					
					<div class="control-group">
					   <label class="control-label" for="position">Position</label>
						<div class="controls">
							<input type="text" name="position" id="position" class="textfield span4" value="<%= @activity.position %>" />
						</div>
					</div>
					<div class="control-group">
					   <label class="control-label" for="organization">Organization</label>
						<div class="controls">
							<input type="text" name="organization" id="organization" class="textfield span4" value="<%= @activity.organization %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="date_start">Start Date</label>
						<div class="span2 input-append date">
							<input type="text" name="date_start" id="date_start" class="form_date" data-date-format="MM dd, yyyy" data-link-format="yyyy-mm-dd" value="<%= @activity.date_start %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="date_end">End Date</label>
						<div class="span2 input-append date">
							<input type="text" class="form_date" name="date_end" id="date_end" data-date-format="MM dd, yyyy" data-link-format="yyyy-mm-dd" value="<%= @activity.date_end %>" />
						</div>
					</div>

					
					
					<div class="control-group">
						<div class="controls">
							<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/activities/activities">Cancel</a> &nbsp; <% if @student.activities.count > 0 %><a class="btn btn-small btn-warning delete" href="/student/resume/activities/<%= @activity.id %>/delete">Delete</a><% end %>
						</div>
					</div><br />
				</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->
