	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a href="/student/resume/index" class="btn btn-small pull-right" style="margin-top: 12px;">Resume Tool</a>
				<h1 class="page-header">Activities and Associations &nbsp; <small><%= @student.name %></small></h1>
			</div>
		</div>
		<div class="row"> 
			<div class="col-md-8 offset-md-2">
				<p style="clear: left;"><label class="resume-view">Position</label><%= @activity.position %></p>
				<p style="clear: left;"><label class="resume-view">Organization</label><%= @activity.organization %></p>
				<p style="clear: left;"><label class="resume-view">Start Date</label><%= @activity.date_start %></p>
				<p style="clear: left;"><label class="resume-view">End Date</label><%= @activity.date_end %></p>
				
				<p style="clear: left;"><label class="resume-view">&nbsp; </label><a class="btn btn-success btn-small" href="/student/resume/activities/<%= @activity.id %>/edit">Edit</a></p>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
