
<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Online Resum&eacute; Tool</h1>
			</div>
			<div class="span6">

				<p class="lead"><strong>Career Direction 2</strong> &nbsp;<em>Job Getting Tools</em> can help your students create resumes and cover letters that will help them "get that job!"</p> 
				<p>Students will need to enter the school's password to access this valuable tool. By completing the online form, they can automatically generate a resume, a cover letter, and even a thank you note for after the interview.</p>
		
				<div class="sign-in" style="padding: 18px 32px; margin: 48px 0;">
					<h6>Resum&eacute; Tool</h6>
					<div style="padding-right: 18px; float: left; border-right: 1px solid #b2b5bc;">
						<p>New user</p>
						<p><a href="/student/resume/create" class="btn btn-primary">Create an account</a></p>
					</div>
					<div style="margin-left: 184px;">
						<p>Already have an account</p>
						<p><a href="/student/resume/signin" class="btn btn-success"><i class="icon-signin"></i> &nbsp;Sign in</a></p>
					</div>
					
					<p style="clear: both; padding-top: 9px;"><small>You will need your school's password to create a new account.</small></p> 
					<hr />
					<h5>Need Your Password?</h5>
					<p><small>If your students have participated in a Career Direction 2 class and you do not know your school's password submit your school's zip.</small></p>
				
				
					<p>
						<form method="get" class="form-search">
						  <input type="text" name="zip" class="input-small search-query" placeholder="School Zip"/>  &nbsp;  
						  <input type="submit" class="btn btn-success btn-small" />
						</form>
			  		</p>

					<% if @results %>
  					<p>
						<% @results.each do |c| %>
							<hr />
							<strong><%= c.school_name %></strong> &nbsp; <small><%= "(Not Activated)" unless c.active %></small><br />
							<small><%= c.school_city %> <%= c.school_state %> &nbsp;<%= c.school_zip %></small> &nbsp; &nbsp; &nbsp; <% unless c.active %><% else %><br />
							<small>School Password</small> &nbsp;&nbsp;<span class="password-show"><%= c.school_password %></span><% end %>
						<% end %>
  					</p> 

					<% end %>
					
					<% if (@results.count < 1) && (params[:zip] != '') %>
						<hr />
						<span class="password-show">NO SCHOOL FOUND FOR <%= params[:zip] %></span>
					<% end %>
						
						<hr />
					<p style="line-height: 1.3em;"><small>If the school is <strong>not listed above</strong> or listed as <strong>Not Activated</strong>, please call 888-326-9229.</small></p>
			
				</div>
			</div>
			<div class="span5">
				<p style="margin-left: 24px;"><img src="/img/resume-cron.png" class="rotated"></p>
			</div>
				
			
		</div>
	</div> <!-- /container -->
</div> <!-- /container-white -->
		
