<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1>Skills &nbsp; <small><%= @student.name %></small></h1><br />
			</div>
			<div class="span8 offset2">
				<form method="post">
					
					<p>
						<label for="skill">Skill</label>
						<input type="text" name="skill" id="skill" class="textfield span4" value="<%= @skill.skill %>" />
					</p>
					<p>
						<label for="applied_1">Applied 1</label>
						<input type="text" name="applied_1" id="applied_1" class="textfield span4" value="<%= @skill.applied_1 %>" />
					</p>
					<p>
						<label for="applied_2">Applied 2</label>
						<input type="text" name="applied_2" id="applied_2" class="textfield span4" value="<%= @skill.applied_2 %>" />
					</p>
					<!-- <p>
						<label for="applied_3">Applied 3</label>
						<input type="text" name="applied_3" id="applied_3" class="textfield span4" value="<%= @skill.applied_3 %>" />
					</p>
					<p>
						<label for="applied_4">Applied 4</label>
						<input type="text" name="applied_4" id="applied_4" class="textfield span4" value="<%= @skill.applied_4 %>" />
					</p> -->
					
					<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume//skills/skills">Cancel</a> &nbsp; <% if @student.skills.count > 0 %><a class="btn btn-small btn-warning pull-right" href="/student/resume/skills/<%= @skill.id %>/delete">Delete</a><% end %>
					
				</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->