<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span8 offset2">
				<h1>Skills</h1>
			</div>
			<div class="span8 offset2">
				<p><a href="/skills/new" class="btn btn-small btn-success pull-right">New</a>
				<a href="/admin/admin" class="btn btn-small">Admin</a></p>
				<table class="table table-striped table-condensed table-hover">
					<tr>
						<th>Skill</th>
						<th>Applied 1</th>
						<th>Applied 2</th>
						<th>Applied 3</th>
						<th>Applied 4</th>
						<th>id_user</th>
						<th style="text-align: center;">Edit</th>
					</tr>
					<% @skill.each do |skill| %>
					<tr>
						<td><%= skill.skill %></td>
						<td><%= skill.applied_1 %></td>
						<td><%= skill.applied_2 %></td>
						<td><%= skill.applied_3 %></td>
						<td><%= skill.applied_4 %></td>
						<td><%= skill.id_user %></td>
						<td style="text-align: center;"><a href="skills/<%= skill.id %>/edit"> &nbsp; <i class="icon-pencil"></i> &nbsp; </a></td>
					</tr>
					<% end %>
				</table>
			</div>

		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->