<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span4 offset3">
				<h1>Objectives</h1>
		
				<form method="post">
					
					<p>
						<label for="goal">Goal</label>
						<input type="text" name="goal" id="goal" class="textfield span4" value="<%= @objective.goal %>" />
					</p>
					<p>
						<label for="learn">Learn</label>
						<input type="text" name="learn" id="learn" class="textfield span4" value="<%= @objective.learn %>" />
					</p>
					<p>
						<label for="long_goal">Long Term Goal</label>
						<input type="text" name="long_goal" id="long_goal" class="textfield span4" value="<%= @objective.long_goal %>" />
					</p>
					<p>
						<label for="id_user">id_user</label>
						<input type="text" name="id_user" id="id_user" class="textfield span4" value="<%= objective.id_user %>" />
					</p>

					
					<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/objectives">Cancel</a> &nbsp; <a class="btn btn-small btn-warning pull-right" href="/objectives/<%= objective.id %>/delete">Delete</a>
					
					</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->