<div class="container">	
	<div class="row">
		<div class="col-md-12">
			<h6>Subtest Items</h6>
			<p><a href="/subtests/new" style="margin-bottom: 10px;" class="btn btn-small btn-success pull-right"> New </a></p>
			
			<table class="table table-striped table-condensed table-hover table-sm table-bordered">
				<tr class="table-success">
					<th style="text-align: center;">ID</th>
					<th>Item</th>
					<th style="text-align: center;">Edit</th>
					<th style="text-align: center;">View</th>
					<th style="text-align: center;">Delete</th>
				</tr>
				<% @subtest.each do |itm| %>
				<tr>
					<td style="text-align: center;"><%= itm.id %></td>
					<td class="semi-bold"><%= itm.items %></td>
					<td style="text-align: center;"><a href="/subtests/<%= itm.id %>/edit" class="btn btn-mini">Edit</a></td>
					<td style="text-align: center;"><a href="/subtests/<%= itm.id %>/subtest" class="btn btn-mini">View</a></td>
					<td style="text-align: center;"><a href="/subtests/<%= itm.id %>/delete" class="btn btn-mini">Delete</a></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div> <!-- /row -->
</div> <!-- /container -->