<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Student Profile &nbsp; <small><%= @student.first_name %> <%= @student.middle_name %> <%= @student.last_name %></small></h1><br />
			</div>
			<div class="span7 offset2">
				<form method="post" class="form-horizontal" id="resume_edit" enctype="multipart/form-data">
					<div class="control-group">
						<label class="control-label" for="email">Email</label>
						<div class="controls">
							<input type="text" name="email" id="email" class="textfield span5" value="<%= @student.email %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="password">Personal Password</label>
						<div class="controls">
							<input type="text" name="password" id="password" class="textfield span5" value="<%= @student.password %>" />
						</div>
					</div>
					<div class="control-group">
						
						<label class="control-label"for="school_password">School Password</label>
						<div class="controls">
							<input type="text" class="textfield span4" placeholder="School's Password Required" name="school_password" id="school_password" value="<%= params[:school_password] %>" />
							<span class="help-block" style="line-height: 1.2em; margin: 5px 52px 6px 0;"><small>If you do not know your school's password, please contact your guidance counselor or teacher.</small></span>
						</div>
						
						
						
					
					</div>
					<!-- <div class="control-group">
						<label class="control-label"for="name">Name</label>
						<div class="controls">
							<input type="text" name="name" id="name" class="textfield span5" value="<%= @student.name %>" />
						</div>
					</div> -->
					<div class="control-group">
						<label class="control-label"for="first_name">First Name</label>
						<div class="controls">
							<input type="text" name="first_name" id="first_name" class="textfield span5" value="<%= @student.first_name %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="middle_name">Middle Name</label>
						<div class="controls">
							<input type="text" name="middle_name" id="middle_name" class="textfield span5" value="<%= @student.middle_name %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="last_name">Last Name</label>
						<div class="controls">
							<input type="text" name="last_name" id="last_name" class="textfield span5" value="<%= @student.last_name %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="address">Address</label>
						<div class="controls">
							<input type="text" name="address" id="address" class="textfield span5" value="<%= @student.address %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="city">City</label>
						<div class="controls">
							<input type="text" name="city" id="city" class="textfield span5" value="<%= @student.city %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="state">State</label>
						<div class="controls">
							<input type="text" name="state" id="state" class="textfield span1" value="<%= @student.state %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="zip">Zip</label>
						<div class="controls">
							<input type="text" name="zip" id="zip" class="textfield span2" value="<%= @student.zip %>" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"for="phone">Phone</label>
						<div class="controls">
							<input type="text" name="phone" id="phone" class="textfield span2" value="<%= formatted_number(@student.phone) %>" />
						</div>
					</div>
						
					<div class="control-group">
						<label class="control-label" for="birth_date">Date of Birth</label>
						<div class="controls">
							<%= date_to_field('birth_date', (@student.birth_date || Time.now)) %>
						</div>
												
					</div>
					<div class="control-group">
						<div class="controls">
							<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/index">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

<script  type="text/javascript">
	var frmvalidator = new Validator("resume_edit");
	frmvalidator.addValidation("school_password","req","Please enter your School Password");
	frmvalidator.addValidation("first_name","req","Please enter your First Name");
	frmvalidator.addValidation("last_name","req","Please enter your Last Name");
	frmvalidator.addValidation("address","req","Please enter your Address");
	frmvalidator.addValidation("city","req","Please enter your City");
	frmvalidator.addValidation("state","req","Please enter your State");
	frmvalidator.addValidation("zip","req","Please enter your Zip");
	frmvalidator.addValidation("phone","req","Please enter your phone");
</script>
