<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Online Resum&eacute; Tool</h1>
			</div>
			<div class="span5">
				
            <ul class="rs-menu">
					<% if @student.name == "" %>
                <li>
                    <a href="/student/resume/edit">
                        <span class="ra-icon"><i class="icon-plus"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Get started</span><h2 class="rs-main">Personal Information</h2>
                        </div>
                    </a>
                </li>
					 <% else %>
                <li class="g">
                    <a href="/student/resume/edit">
                        <span class="rs-icon"><i class="icon-ok"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Edit</span><h2 class="rs-main">Personal Information</h2><span class="right-info">Edit</span>
                        </div>
                    </a>
                </li>
					 <% end %>
					 
					 <% if @student.letters.count == 0 %>
                <li>
                    <a href="/student/resume/letters/new">
                        <span class="ra-icon"><i class="icon-plus"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Get started</span><h2 class="rs-main">Cover Letters</h2>
                        </div>
                    </a>
                </li>
					 <% else %>
                <li>
                    <a href="/student/resume/letters/letters">
                        <span class="rs-icon"><i class="icon-ok"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Edit</span><h2 class="rs-main">Cover Letters</h2>
                        </div>
                    </a>
                </li>
					 <% end %>
					 
					 <% if @student.objectives.count == 0 %>
                <li>
                    <a href="/student/resume/objectives/new">
                        <span class="ra-icon"><i class="icon-plus"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Get started</span><h2 class="rs-main">Career Objectives</h2>
                        </div>
                    </a>
                </li>
					 <% else %>
                <li>
                    <a href="/student/resume/objectives/objectives">
                        <span class="rs-icon"><i class="icon-ok"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Edit</span><h2 class="rs-main">Career Objectives</h2>
                        </div>
                    </a>
                </li>
					 <% end %>
					 
					 <% if @student.skills.count == 0 %>
                <li>
                    <a href="/student/resume/skills/new">
                        <span class="ra-icon"><i class="icon-plus"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Get started</span><h2 class="rs-main">Career Skills</h2>
                        </div>
                    </a>
                </li>
					 <% else %>
                <li>
                    <a href="/student/resume/skills/skills">
                        <span class="rs-icon"><i class="icon-ok"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Edit</span><h2 class="rs-main">Career Skills</h2>
                        </div>
                    </a>
                </li>
					 <% end %>
					 
					 <% if @student.educations.count == 0 %>
                <li>
                    <a href="/student/resume/educations/new">
                        <span class="ra-icon"><i class="icon-plus"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Get started</span><h2 class="rs-main">Education</h2>
                        </div>
                    </a>
                </li>
					 <% else %>
                <li>
                    <a href="/student/resume/educations/educations">
                        <span class="rs-icon"><i class="icon-ok"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Edit</span><h2 class="rs-main">Education</h2>
                        </div>
                    </a>
                </li>
					 <% end %>
					 
					 <% if @student.experiences.count == 0 %>
                <li>
                    <a href="/student/resume/experience/new">
                        <span class="ra-icon"><i class="icon-plus"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Get started</span><h2 class="rs-main">Work Experience</h2>
                        </div>
                    </a>
                </li>
					 <% else %>
                <li>
                    <a href="/student/resume/experience/experiences">
                        <span class="rs-icon"><i class="icon-ok"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Edit</span><h2 class="rs-main">Work Experience</h2>
                        </div>
                    </a>
                </li>
					 <% end %>
					 
					 <% if @student.activities.count == 0 %>
                <li>
                    <a href="/student/resume/activities/new">
                        <span class="ra-icon"><i class="icon-plus"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Get started</span><h2 class="rs-main">Activities</h2>
                        </div>
                    </a>
                </li>
					 <% else %>
                <li>
                    <a href="/student/resume/activities/activities">
                        <span class="rs-icon"><i class="icon-ok"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Edit</span><h2 class="rs-main">Activities</h2>
                        </div>
                    </a>
                </li>
					 <% end %>
					 
					 <% if @student.awards.count == 0 %>
                <li>
                    <a href="/student/resume/awards/new">
                        <span class="ra-icon"><i class="icon-plus"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Get started</span><h2 class="rs-main">Awards</h2>
                        </div>
                    </a>
                </li>
					 <% else %>
                <li>
                    <a href="/student/resume/awards/awards">
                        <span class="rs-icon"><i class="icon-ok"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Edit</span><h2 class="rs-main">Awards</h2>
                        </div>
                    </a>
                </li>
					 <% end %>
					 
					 <% if @student.references.count == 0 %>
                <li>
                    <a href="/student/resume/references/new">
                        <span class="ra-icon"><i class="icon-plus"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Get started</span><h2 class="rs-main">References</h2>
                        </div>
                    </a>
                </li>
					 <% else %>
                <li>
                    <a href="/student/resume/references/references">
                        <span class="rs-icon"><i class="icon-ok"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Edit</span><h2 class="rs-main">References</h2>
                        </div>
                    </a>
                </li>
					 <% end %>
					 
					 <% if @student.traits.count == 0 %>
                <li>
                    <a href="/student/resume/traits/new">
                        <span class="ra-icon"><i class="icon-plus"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Get started</span><h2 class="rs-main">Character Traits</h2>
                        </div>
                    </a>
                </li>
					 <% else %>
                <li>
                    <a href="/student/resume/traits/traits">
                        <span class="rs-icon"><i class="icon-ok"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Edit</span><h2 class="rs-main">Character Traits</h2>
                        </div>
                    </a>
                </li>
					 <% end %>
					 
					 <% if @student.interests.count == 0 %>
                <li>
                    <a href="/student/resume/interests/new">
                        <span class="ra-icon"><i class="icon-plus"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Get started</span><h2 class="rs-main">Interests and Hobbies</h2>
                        </div>
                    </a>
                </li>
					 <% else %>
                <li>
                    <a href="/student/resume/interests/interests">
                        <span class="rs-icon"><i class="icon-ok"></i></span>
                        <div class="rs-content">
                            <span class="right-info">Edit</span><h2 class="rs-main">Interests and Hobbies</h2>
                        </div>
                    </a>
                </li>
					 <% end %>

				</ul>
				<br />
			</div>
			<div class="span6 offset1">
				<h6>Account Info</h6>
				<p><%= @student.email %></p>

				<p>
					<strong><%= @student.name %></strong><br />
					<%= @student.address %><br />
					<%= @student.city %> <%= @student.state %> <%= @student.zip %><br />
					<%= @student.phone %>
				</p>
				
				<hr />
				<p><strong>View these documents</strong> at any time to check your progress, grammar, and spelling.</p>
				<p><a href="/student/resume/letters/letters-view" class="btn btn-success">Cover Letters</a> <a href="/student/resume/resume-view" class="btn btn-success">Resum&eacute;</a> <a href="/student/resume/references/references-view" class="btn btn-success">References</a></p>
				<p><small>Once you are finished you can download a PDF of each document or copy and paste the content into a text editor.</small></p>
				<hr />
				<p>Here is your practice job application. &nbsp;&nbsp;<a class="btn btn-small btn-info" href="/downloads/job-application.pdf">Download</a></p>
				<hr />
				<div>
					<p><span class="semi-bold">PROTECT YOUR PRIVACY.</span><br />
					<small>If you are using a public or shared device <strong>sign out</strong> when finished.</small></p>
					<a class="btn btn-small btn-primary" href="/student/resume/sign-out"><i class="icon-signout"> </i> &nbsp;Sign out</a>
				</div>
				<br />
				
				
			</div>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->