<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Online Resume Tool</h1>
			</div>
			<div class="span5 offset1">
				
				<% if @student.name == "" %>
				<h5 class="under-link short"><i class="icon-thumbs-up-alt trans1"></i> &nbsp; <a href="/student/resume/edit"><strong>Personal Information</strong></a></h5>
				<% else %>
				<h5 class="under-link short"><i class="icon-thumbs-up muted"></i> &nbsp; <a href="/student/resume/edit"><strong>Personal Information</strong></a></h5>
				<% end %>
				 
				<% if @student.letters.count == 0 %>
				<h5 class="under-link short"><i class="icon-thumbs-up-alt trans1"></i> &nbsp; <a href="/student/resume/letters/new"><strong>Cover Letters</strong></a></h5>
				<% else %>
				<h5 class="under-link short"><i class="icon-thumbs-up muted"></i> &nbsp; <a href="/student/resume/letters/letters"><strong>Cover Letters</strong></a>&nbsp;<small><%= @student.letters.count %></small></h5>
				<% end %>

				<% if @student.objectives.count == 0 %>
				<h5 class="under-link short"><i class="icon-thumbs-up-alt trans1"></i> &nbsp; <a href="/student/resume/objectives/new"><strong>Career Objectives</strong></a></h5>
				<% else %>
				<h5 class="under-link short"><i class="icon-thumbs-up muted"></i> &nbsp; <a href="/student/resume/objectives/objectives"><strong>Career Objectives</strong></a>&nbsp;<small><%= @student.objectives.count %></small></h5>
				<% end %>

				<% if @student.skills.count == 0 %>
				<h5 class="under-link short"><i class="icon-thumbs-up-alt trans1"></i> &nbsp; <a href="/student/resume/skills/new"><strong>Career Skills</strong></a></h5>
				<% else %>
				<h5 class="under-link short"><i class="icon-thumbs-up muted"></i> &nbsp; <a href="/student/resume/skills/skills"><strong>Career Skills</strong></a>&nbsp;<small><%= @student.skills.count %></small></h5>
				<% end %>
				
				<% if @student.educations.count == 0 %>
				<h5 class="under-link short"><i class="icon-thumbs-up-alt trans1"></i> &nbsp; <a href="/student/resume/educations/new"><strong>Education</strong></a></h5>
				<% else %>
				<h5 class="under-link short"><i class="icon-thumbs-up muted"></i> &nbsp; <a href="/student/resume/educations/educations"><strong>Education</strong></a></h5>
				<% end %>
				
				<% if @student.experiences.count == 0 %>
				<h5 class="under-link short"><i class="icon-thumbs-up-alt trans1"></i> &nbsp; <a href="/student/resume/experience/new"><strong>Work Experience</strong></a></h5>
				<% else %>
				<h5 class="under-link short"><i class="icon-thumbs-up muted"></i> &nbsp; <a href="/student/resume/experience/experiences"><strong>Work Experience</strong></a>&nbsp;<small><%= @student.experiences.count %></small></h5>
				<% end %>
				
				<% if @student.activities.count == 0 %>
				<h5 class="under-link short"><i class="icon-thumbs-up-alt trans1"></i> &nbsp; <a href="/student/resume/activities/new"><strong>Activities</strong></a></h5>
				<% else %>
				<h5 class="under-link short"><i class="icon-thumbs-up muted"></i> &nbsp; <a href="/student/resume/activities/activities"><strong>Activities</strong></a>&nbsp;<small><%= @student.activities.count %></small></h5>
				<% end %>

				<% if @student.awards.count == 0 %>
				<h5 class="under-link short"><i class="icon-thumbs-up-alt trans1"></i> &nbsp; <a href="/student/resume/awards/new"><strong>Awards</strong></a></h5>
				<% else %>
				<h5 class="under-link short"><i class="icon-thumbs-up muted"></i> &nbsp; <a href="/student/resume/awards/awards"><strong>Awards</strong></a>&nbsp;<small><%= @student.awards.count %></small></h5>
				<% end %>

				<% if @student.references.count == 0 %>
				<h5 class="under-link short"><i class="icon-thumbs-up-alt trans1"></i> &nbsp; <a href="/student/resume/references/new"><strong>References</strong></a></h5>
				<% else %>
				<h5 class="under-link short"><i class="icon-thumbs-up muted"></i> &nbsp; <a href="/student/resume/references/references"><strong>References</strong></a>&nbsp;<small><%= @student.references.count %></small></h5>
				<% end %>

				<% if @student.traits.count == 0 %>
				<h5 class="under-link short"><i class="icon-thumbs-up-alt trans1"></i> &nbsp; <a href="/student/resume/traits/new"><strong>Character Traits</strong></a></h5>
				<% else %>
				<h5 class="under-link short"><i class="icon-thumbs-up muted"></i> &nbsp; <a href="/student/resume/traits/traits"><strong>Character Traits</strong></a></h5>
				<% end %>

				<% if @student.interests.count == 0 %>
				<h5 class="under-link short"><i class="icon-thumbs-up-alt trans1"></i> &nbsp; <a href="/student/resume/interests/new"><strong>Interests and Hobbies</strong></a></h5>
				<% else %>
				<h5 class="under-link short"><i class="icon-thumbs-up muted"></i> &nbsp; <a href="/student/resume/interests/interests"><strong>Interests and Hobbies</strong></a>&nbsp;<small><%= @student.interests.count %></small></h5>
				<% end %>
				
					<br />
				<p><a href="#" class="btn btn-small btn-success">View Cover Letters</a> &nbsp; <a href="#" class="btn btn-small btn-success">View Resume</a> &nbsp; <a href="#" class="btn btn-small btn-success">View References</a></p>
				<p><small>Copy and paste the contents of your cover letter, resume, thank you letter, and references sheet into a Microsoft Word or similar document so you can edit and save it. You will need to double check for grammar and spelling.</small></p>
			</div>
			<div class="span5 offset1">
				<h6>Account Info</h6>
				<p><%= @student.email %></p>
				<p>
					The School
				</p>
				<p>
					<strong><%= @student.name %></strong><br />
					<%= @student.address %><br />
					<%= @student.city %> <%= @student.state %> <%= @student.zip %><br />
					<%= @student.phone %>
				</p>
				
				<a class="btn btn-small" href="/student/resume/sign-out">Sign out</a>
				<br /><br />

			</div>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->