<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span12">
				<h1 class="page-header">Online Resume Tool</h1>
			</div>
			<div class="span5 offset1">
				

					<h5 class="under-link short"><a href="/student/resume/edit"><strong>Personal Information</strong></a></h5>

					<h5 class="under-link short"><a href="/student/resume/letters/letters"><strong>Cover Letters</strong></a></h5>

					<h5 class="under-link short"><a href="/student/resume/objectives/edit"><strong>Carer Objectives</strong></a></h5>

					<h5 class="under-link short"><a href="/student/resume/education/view"><strong>Education</strong></a></h5>
					
					<h4 class="under-link short"><a href="/student/resume/experience/experiences"><strong>Work Experience</strong></a></h4>

					<h4 class="under-link short"><a href="/student/resume/activities/activities"><strong>Activities</strong></a></h4>

					<h4 class="under-link short"><a href="/student/resume/awards/awards"><strong>Awards</strong></a></h4>

					<h4 class="under-link short"><a href="/student/resume/references/references"><strong>References</strong></a></h4>

					<h4 class="under-link short"><a href="/student/resume/traits/traits"><strong>Character Traits</strong></a></h4>

					<h4 class="under-link short"><a href="/student/resume/interests/interests"><strong>Interests and Hobbies</strong></a></h4>

				
					<br />
				<p><a href="#" class="btn btn-small">View Cover Letters</a> &nbsp; <a href="#" class="btn btn-small">View Resume</a> &nbsp; <a href="#" class="btn btn-small">View References</a></p>
				<p><small>Copy and paste the contents of your cover letter, resume, thank you letter, and references sheet into a Microsoft Word or similar document so you can edit and save it. You will need to double check for grammar and spelling.</small></p>
			</div>
			<div class="span5 offset1">
				<h6>Account Info</h6>
				<p><%= @student.email %></p>
				<p><strong><%= @student.name %></strong><br />
				<%= @student.address %><br />
				<%= @student.city %> <%= @student.state %> <%= @student.zip %><br />
				<%= @student.phone %>
			</p>
				<a class="btn btn-small" href="/student/resume/sign-out">Sign out</a>
			</div>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->