<div class="container">	
	<div class="row">  
		<div class="col-md-12">
			<a class="btn btn-small pull-right" style="margin-top: 12px;" href="/student/resume/index">Resume Tool</a>
			<h1 class="page-header">Resume</h1>
		</div>
		<div class="col-md-10 offset-md-1">	
			<p>You can also copy and paste contents into a Microsoft Word or similar document to edit and save.</p>
			<p class="semi-bold ">Check grammar and spelling.</p>

			<div class="resume-content">
							
				<h1 style="text-align: center;"><%= @student.first_name %> <%= @student.middle_name %> <%= @student.last_name %></h1>
				<p style="text-align: center;"><%= @student.address %><br />
					<%= @student.city %>, <%= @student.state %> <%= @student.zip %><br />
					<%= formatted_number(@student.phone) %><br />
					<%= @student.email %>
				</p>
					
							<h2 style="margin-top: 9px;">Objectives</h2>
							<% @student.objectives.each do |objective| %>
								<p>My immediate goal is to work as <%= objective.goal %>. This will help me learn <%= objective.learn %>, as I pursue my long-term goal of <%= objective.long_goal %>.
							<% end %>
							<h2>Career Skills and Accomplishments</h2>
							<% @student.skills.each do |skill| %>
								<h3><%= skill.skill.capitalize %></h3>
								<ul>
									<li><%= skill.applied_1.capitalize %></li>
									<% if skill.applied_2 != "" %><li><%= skill.applied_2 %></li><% end %>
								</ul>
							<% end %>
		
		
							<h2>Education</h2>
							<% @student.educations.each do |education| %>
								<ul>
									<% if education.attending != "" %><li>Scheduled to graduate from <%= education.attending %><% if education.graduate_on != nil %> on <%= education.graduate_on %><% end %>.</li><% end %>
									<% if education.plan_attend != "" %><li>I plan to attend <%= education.plan_attend %> to study <%= education.study %>.</li><% end %>
									<% if education.completed != "" %><li>I have completed <%= education.completed %> on <%= education.completed_on %></li><% end %>
									<% if education.graduated != "" %><li>I have graduated from <%= education.graduated %> on <%= education.graduation_date %> with a <%= education.degree %> degree.</li><% end %>
								</ul>
							<% end %>
		
							<h2>Work Experience</h2>
							<% @student.experiences.each do |experience| %>
							<ul>

								<li><%= experience.company %>, <%= experience.position %>, <%= experience.city %>, <%= experience.state %><% if experience.start != nil %>, <%= experience.start %><% end %><% if experience.end != nil %> - <%= experience.end %><% end %></li>

							</ul>
							<% end %>
		
		
							<h2>Activities and Associations</h2>
							<% @student.activities.each do |activity| %>
							<ul>
								<li><%= activity.position %>, <%= activity.organization %><% if activity.date_start != nil %>, <%= activity.date_start %><% end %><% if activity.date_end != nil %> - <%= activity.date_end %><% end %></li>
							</ul>
							<% end %>
		
		
							<h2>Awards and Commendations</h2>
							<% @student.awards.each do |award| %>
							<ul>
								<li><%= award.award %><% if award.award_date != nil %>, <%= award.award_date %><% end %></li>
							</ul>
							<% end %>
		
		
							<h2>Character Traits</h2>
							<% @student.traits.each do |trait| %>
							<p>Because I am known to be <%= trait.trait_1 %>, <%= trait.trait_2 %>, and <%= trait.trait_3 %>, I believe I would be an asset to your company.</p>
							<% end %>
							
							
							<h2>Interests and Hobbies</h2>
							<% @student.interests.each do |interest| %>
							<ul>
								<li><%= interest.interest %></li>
							</ul>
							<% end %>
							
		
						<% if @student.references == nil %>
						
						<p class="lead"><em>References available upon request</em></p>
						
						<% else %>
						
						<p class="lead"><em>References</em></p> <br />
						
						<% @student.references.each do |reference| %>
						<tr>
							<td><strong><%= reference.name %></strong><br />
							
						
							<%= reference.relationship %><br />
							
							<%= reference.address %><br />

							<%= reference.city %>  <%= reference.state %>  <%= reference.zip %><br />
					
							<%= reference.phone %><br />
					
							<%= reference.email %>
							
							</td><br /><br />
						</tr>
						
						<% end %>
						
						<% end %>
						
						
					</div>
				</div>
		</div>
	</div>

