<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span6 offset3">
				<h1>Student Profile</h1>
				<a href="/student/resume/students" class="btn btn-small">Admin Student List</a></p>
				<hr />
			</div>
			
			<div class="span4 offset3">
						
				<p><strong>Email</strong><br /><%= @student.email %></p>
				<p><strong>Password</strong><br /><%= @student.password %></p>
				
				<p><strong><%= @student.name %></strong><br />
					<%= @student.address %><br />
					<%= @student.city %>, <%= @student.state %> <%= @student.zip %><br />
					<%= @student.phone %><br />
				</p>
				<br />
				

			</div>
			<div class="span3">
				
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->

