	<div class="container">	
		<div class="row">  
			<div class="col-md-12">
				<a onclick="goBack()" class="btn btn-small pull-right" style="margin-top: 12px;">Admin Student List</a></p>
				<h1 class="page-header">Student Profile</h1>

			</div>
		</div>
		<div class="row"> 
				<div class="col-md-8 offset-md-2">
					<div class="row">
						<div class="col">
							<h5>
								<% unless @student.name = 'nil' %>
								<strong><%= @student.name %></strong><br />
								<% else %>
								<strong><%= @student.first_name %>  <%= @student.last_name %></strong><br />
								<% end %>
							</h5>
							<p>
								<%= @student.address %><br />
								<%= @student.city %>, <%= @student.state %> <%= @student.zip %><br />
								<%= formatted_number(@student.phone) %><br />
							</p>
						</div>
						<div class="col">
							<p><strong>Email</strong><br /><%= @student.email %></p>
							<p><strong>Password</strong><br /><%= @student.password %></p>
							<p><strong>School ID</strong><br /><%= @student.school_password %></p>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->

<script>
function goBack() {
  window.history.back();
}
</script>