<div class="container-white">
	<div class="container">	
		<div class="row">  
			<div class="span4 offset3">
				<h1>Education &nbsp; <small><%= @student.name %></small></h1><br />
		
				<form method="post">
					
					<p>
						<label for="attending">attending</label>
						<input type="text" name="attending" id="attending" class="textfield span4" value="<%= @education.attending %>" />
					</p>
					<p>
						<label for="graduate_on">graduate_on</label>
						<input type="text" name="graduate_on" id="graduate_on" class="textfield span4" value="<%= @education.graduate_on %>" />
					</p>
					<p>
						<label for="plan_attend">plan_attend</label>
						<input type="text" name="plan_attend" id="plan_attend" class="textfield span4" value="<%= @education.plan_attend %>" />
					</p>
					<p>
						<label for="completed">completed</label>
						<input type="text" name="completed" id="completed" class="textfield span4" value="<%= @education.completed %>" />
					</p>
					<p>
						<label for="completed_on">completed_on</label>
						<input type="text" name="completed_on" id="completed_on" class="textfield span4" value="<%= @education.completed_on %>" />
					</p>
					<p>
						<label for="graduated">graduated</label>
						<input type="text" name="graduated" id="graduated" class="textfield span4" value="<%= @education.graduated %>" />
					</p>
					<p>
						<label for="graduation_date">graduation_date</label>
						<input type="text" name="graduation_date" id="graduation_date" class="textfield span4" value="<%= @education.graduation_date %>" />
					</p>
					<p>
						<label for="study">study</label>
						<input type="text" name="study" id="study" class="textfield span4" value="<%= @education.study %>" />
					</p>
					<p>
						<label for="grad_date_change">grad_date_change</label>
						<input type="text" name="grad_date_change" id="grad_date_change" class="textfield span4" value="<%= @education.grad_date_change %>" />
					</p>
					<p>
						<label for="completed_date_change">completed_date_change</label>
						<input type="text" name="completed_date_change" id="completed_date_change" class="textfield span4" value="<%= @education.completed_date_change %>" />
					</p>
					<p>
						<label for="graduation_date_change">graduation_date_change</label>
						<input type="text" name="graduation_date_change" id="graduation_date_change" class="textfield span4" value="<%= @education.graduation_date_change %>" />
					</p>
					<p>
						<label for="degree">degree</label>
						<input type="text" name="degree" id="degree" class="textfield span4" value="<%= @education.degree %>" />
					</p>
					
					<input class="btn btn-small btn-primary" type="submit" value="Save" /> &nbsp; <a class="btn btn-small" href="/student/resume/index">Cancel</a> &nbsp; <a class="btn btn-small btn-warning pull-right" href="/student/resume/education/<%= @education.id %>/delete">Delete</a>
					
					</form>	
			</div>
			
		</div> <!-- /row -->
	</div> <!-- /container -->
</div> <!-- /container-white -->
